*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden; 
}
.bar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color:  #111827;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: relative;
    margin-bottom: 20px;
}

.nav{
    justify-content: space-between;
    position: absolute;
    right: 13%;
    
}
a{
    text-decoration: none;
    color: silver;
    font-size: 20px;
}
.pf{
    color: silver;
    font-size: 25px;
}
.nav > *{
    margin: 15px;
}
.midlle{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.h1M{
    font-size: 50px;
    margin-top: 40px;
}
.pm1{
    font-size: 25px;
    margin: 30px 100px;
    color: #606366;  
}
.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}
.cart {
    height: auto;
    background-color: white;
    margin: 30px 15px;
    border-radius: 20px;
    padding: 0px 5px;
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    text-align: left;   
}
.p-cart{
    color: #606366;
    line-height: 20px;
    margin: 15px 0;
}
img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    border: 4px solid #2e6da4; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out; 
}
img:hover {
    transform: scale(1.05);} 
.low{
    margin-top: 40px;
    background-color:#F3F4F6;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carts1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.cart1 {
    height: auto;
    background-color: white;
    margin: 30px 15px;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: 0px 8px 12px rgba(174, 178, 183, 0.5);
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.cart1 a {
    transition: color 0.3s ease-in-out; 
}

.cart1 a:hover {
    color: #1f2937; 
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:  #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.pf{
    color: silver;
    font-size: 20px;
}

