body{
    height: 100%;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.main { 
    margin: auto; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
.login {
    background-color: black; 
    width: 100px;
    height: 500px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.register {
    background-color: red; 
    width: 100px;
    height: 500px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
