body{
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
}
h1{
    text-align: center;
    color: white;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items:center;
    padding:0px 40px;
}
.nav{
    position: relative;
    left:-85px;
    margin-top: 30px;
}
.logo{
    font-size: 40px;
    color:white;
    margin-top: 22px;
    margin-left: 40px;
}
a{
    padding: 30px 15px;
    color: white;
    font-size: 30px;
    text-decoration:none;
   
}
a:hover{
    color:cyan;
    text-decoration: underline;
    text-underline-position:under;
}
.heading{
    display: flex;
    justify-content: space-evenly;
    padding-top:65px;
    align-items:center;
}
.right{
    width: 440px;
    height: 440px;
    background-image: url('academy imj');
    background-size:cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.right::before{
    width: 430px;
    height: 430px;
    border:2px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding:10px;
}
.left p:nth-child(1){
    color: rgb(238, 54, 241);
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
}
.left h1{
    font-size: 90px;
    color:white;
}
.left p:nth-child(3){
    color: rgb(238, 54, 241);
    font-size: 30px;
    font-style: italic;
}
.left button{
    width: 190px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    border:2px solid white;
    background-color:transparent;
    color: rgb(238, 54, 241);
    margin:20px 0px;
    cursor: pointer;
}