asgiref==3.8.0
astroid==3.2.0
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.2
dill==0.3.8
distlib==0.3.8
Django==5.0.3
django-crispy-forms==1.14.0
filelock==3.13.1
graphviz==0.20.3
gunicorn==22.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
pillow==10.2.0
platformdirs==4.2.0
psycopg2==2.9.9
pylint==3.2.0
sqlparse==0.4.4
termcolor==2.4.0
tomlkit==0.12.5
tzdata==2024.1
virtualenv==20.25.1