{% extends "app/baseTest.html" %} {% load static %} {% block title %}
<title>Level 3</title>
{% endblock title %} {% block header %}
<h1>JavaScript Test: Built-in Data Structures</h1>
{% endblock header %} {% block content %}
<form id="quiz-form" action="{% url 'app-jsTest3' %}" method="post">
  {% csrf_token %}
  <hr><div class="question">
    <h2>1. What will this code outputs in the console?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">numbers</span> <span class="pink">=</span> <span class="orange">[</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">]</span><span class="white">;</span>
        <span class="white">numbers</span><span class="white">.</span><span class="green">push</span><span class="yellow">(</span><span class="purple">4</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="white">numbers</span><span class="yellow">)</span><span class="white">;</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q1-a1" name="q1" value="1" />
      <label class="radio-label" for="q1-a1">[1, 2, 3]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a2" name="q1" value="2" />
      <label class="radio-label" for="q1-a2">[1, 2, 3, 4]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a3" name="q1" value="3" />
      <label class="radio-label" for="q1-a3">[4, 1, 2, 3]</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      2. Why are built-in data structures such as Arrays and Objects crucial in
      JavaScript?
    </h2>
    <div class="pad">
      <input type="radio" id="q2-a1" name="q2" value="1" />
      <label class="radio-label" for="q2-a1"
        >They allow for the storage and manipulation of data collections
        efficiently.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a2" name="q2" value="2" />
      <label class="radio-label" for="q2-a2"
        >They provide methods to directly manipulate HTML and CSS.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a3" name="q2" value="3" />
      <label class="radio-label" for="q2-a3">They speed up the browser's rendering process.</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>3. What will the following code output?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">fruits</span> <span class="pink">=</span> <span class="pink">new</span> <span class="green">Set</span><span class="yellow">(</span><span class="orange">[</span><span class="yellow">"apple"</span><span class="white">,</span> <span class="yellow">"banana"</span><span class="white">,</span> <span class="yellow">"cherry"</span><span class="orange">]</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">fruits</span><span class="white">.</span><span class="green">add</span><span class="yellow">(</span><span class="yellow">"mango"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="white">fruits</span><span class="white">.</span><span class="green">has</span><span class="yellow">(</span><span class="yellow">"mango"</span><span class="yellow">)</span><span class="yellow">)</span><span class="white">;</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q3-a1" name="q3" value="1" />
      <label class="radio-label" for="q3-a1">true</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a2" name="q3" value="2" />
      <label class="radio-label" for="q3-a2">false</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a3" name="q3" value="3" />
      <label class="radio-label" for="q3-a3">undefined</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>4. What will be the output of the following code snippet?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">person</span> <span class="pink">=</span> <span class="orange">{</span><span class="white">name</span><span class="white">:</span> <span class="yellow">"John"</span><span class="white">,</span> <span class="white">age</span><span class="white">:</span> <span class="purple">30</span><span class="orange">}</span><span class="white">;</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="blue">Object</span><span class="white">.</span><span class="green">keys</span><span class="yellow">(</span><span class="white">person</span><span class="yellow">)</span><span class="yellow">)</span><span class="white">;</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q4-a1" name="q4" value="1" />
      <label class="radio-label" for="q4-a1">["John", 30]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a2" name="q4" value="2" />
      <label class="radio-label" for="q4-a2">["name", "age"]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a3" name="q4" value="3" />
      <label class="radio-label" for="q4-a3">["person"]</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>5. What is the correct way to add a new key-value pair to a map?</h2>
    <div class="pad">
      <input type="radio" id="q5-a1" name="q5" value="1" />
      <label class="radio-label" for="q5-a1">map.put('c', 3);</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a2" name="q5" value="2" />
      <label class="radio-label" for="q5-a2">map.add('c', 3);</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a3" name="q5" value="3" />
      <label class="radio-label" for="q5-a3">map.set('c', 3);</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>6. What advantage does a JavaScript Set have over an Array?</h2>
    <div class="pad">
      <input type="radio" id="q6-a1" name="q6" value="1" />
      <label class="radio-label" for="q6-a1"
        >It can store multiple references to the same object.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q6-a2" name="q6" value="2" />
      <label class="radio-label" for="q6-a2">It automatically removes duplicate values.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a3" name="q6" value="3" />
      <label class="radio-label" for="q6-a3">It allows for numeric indexing of its elements.</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      7. Which method would you use to sort an array of numbers in ascending order?
    </h2>
    <div class="pad">
      <input type="radio" id="q7-a1" name="q7" value="1" />
      <label class="radio-label" for="q7-a1">numbers.sort((a, b) => b - a);</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a2" name="q7" value="2" />
      <label class="radio-label" for="q7-a2">numbers.sort();</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a3" name="q7" value="3" />
      <label class="radio-label" for="q7-a3">numbers.order();</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>8. What does the Object.assign method accomplish in this code snippet?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">obj1</span> <span class="pink">=</span> <span class="orange">{</span><span class="white">a</span><span class="white">:</span> <span class="purple">1</span><span class="orange">}</span><span class="white">;</span>
        <span class="blue">let</span> <span class="white">obj2</span> <span class="pink">=</span> <span class="orange">{</span><span class="white">b</span><span class="white">:</span> <span class="purple">2</span><span class="orange">}</span><span class="white">;</span>
        <span class="blue">let</span> <span class="white">obj3</span> <span class="pink">=</span> <span class="blue">Object</span><span class="white">.</span><span class="green">assign</span><span class="yellow">(</span><span class="white">obj1</span><span class="white">,</span> <span class="white">obj2</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="white">obj3</span><span class="yellow">)</span><span class="white">;</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q8-a1" name="q8" value="1" />
      <label class="radio-label" for="q8-a1">{ a: 1, b: 2 }</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a2" name="q8" value="2" />
      <label class="radio-label" for="q8-a2">{ b: 2 }</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a3" name="q8" value="3" />
      <label class="radio-label" for="q8-a3">{ a: 1 }</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>9. What will be the output of this JavaScript code?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">mySet</span> <span class="pink">=</span> <span class="pink">new</span> <span class="green">Set</span><span class="yellow">(</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">mySet</span><span class="white">.</span><span class="green">add</span><span class="yellow">(</span><span class="yellow">"hello"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">mySet</span><span class="white">.</span><span class="green">delete</span><span class="yellow">(</span><span class="yellow">"hello"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="white">mySet</span><span class="white">.</span><span class="green">has</span><span class="yellow">(</span><span class="yellow">"hello"</span><span class="yellow">)</span><span class="yellow">)</span><span class="white">;</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q9-a1" name="q9" value="1" />
      <label class="radio-label" for="q9-a1">true</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a2" name="q9" value="2" />
      <label class="radio-label" for="q9-a2">false</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a3" name="q9" value="3" />
      <label class="radio-label" for="q9-a3">undefined</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      10. Why is the Map() object often preferred over a standard object for storing
      key-value pairs?
    </h2>
    <div class="pad">
      <input type="radio" id="q10-a1" name="q10" value="1" />
      <label class="radio-label" for="q10-a1">It can only store strings as keys.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q10-a2" name="q10" value="2" />
      <label class="radio-label" for="q10-a2"
        >It performs better in scenarios involving frequent additions and
        deletions of key-value pairs.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q10-a3" name="q10" value="3" />
      <label class="radio-label" for="q10-a3"
        >It automatically sorts the keys alphabetically.</label
      >
    </div>
  </div>
  <button type="submit" class="take-test">Submit Answers</button>
</form>
{% endblock content %}
