{% extends "app/baseTest.html" %} {% load static %} {% block title %}
<title>Level 4</title>
{% endblock title %} {% block header %}
<h1>JavaScript Test: Conditional Statements</h1>
{% endblock header %} {% block content %}
<form id="quiz-form" action="{% url 'app-jsTest4' %}" method="post">
  {% csrf_token %}
  <hr><div class="question">
    <h2>1. What will the following JavaScript code output?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">age</span> <span class="pink">=</span> <span class="purple">20</span><span class="white">;</span>
        <span class="pink">if</span> <span class="yellow">(</span><span class="white">age</span> <span class="white">&gt;=</span> <span class="purple">18</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Adult"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Minor"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q1-a1" name="q1" value="1" />
      <label class="radio-label" for="q1-a1">Adult</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a2" name="q1" value="2" />
      <label class="radio-label" for="q1-a2">Minor</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a3" name="q1" value="3" />
      <label class="radio-label" for="q1-a3">Error</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>2. When should conditional statements be used in JavaScript?</h2>
    <div class="pad">
      <input type="radio" id="q2-a1" name="q2" value="1" />
      <label class="radio-label" for="q2-a1"
        >To repeat a block of code multiple times.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a2" name="q2" value="2" />
      <label class="radio-label" for="q2-a2"
        >To execute a block of code based on a specific condition.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a3" name="q2" value="3" />
      <label class="radio-label" for="q2-a3"
        >To handle errors in code execution.
      </label>
    </div>
  </div>
  <hr><div class="question">
    <h2>3. What is the output of the following switch statement?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">fruit</span> <span class="pink">=</span> <span class="yellow">'apple'</span><span class="white">;</span>
        <span class="pink">switch</span> <span class="yellow">(</span><span class="white">fruit</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="pink">case</span> <span class="yellow">'banana'</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">'Yellow fruit'</span><span class="yellow">)</span><span class="white">;</span>
            <span class="pink">break</span><span class="white">;</span>
          <span class="pink">case</span> <span class="yellow">'apple'</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">'Round fruit'</span><span class="yellow">)</span><span class="white">;</span>
            <span class="pink">break</span><span class="white">;</span>
          <span class="pink">default</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">'Unknown fruit'</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q3-a1" name="q3" value="1" />
      <label class="radio-label" for="q3-a1">Yellow fruit</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a2" name="q3" value="2" />
      <label class="radio-label" for="q3-a2">Round fruit</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a3" name="q3" value="3" />
      <label class="radio-label" for="q3-a3">Unknown fruit</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>4. Consider the following nested if statement. What does it print?</h2>
    <pre>
  <code>
    <span class="blue">let</span> <span class="white">num</span> <span class="pink">=</span> <span class="purple">30</span><span class="white">;</span>
    <span class="pink">if</span> <span class="yellow">(</span><span class="white">num</span> <span class="white">&gt;</span> <span class="purple">20</span><span class="yellow">)</span> <span class="orange">{</span>
      <span class="pink">if</span> <span class="yellow">(</span><span class="white">num</span> <span class="white">&lt;</span> <span class="purple">40</span><span class="yellow">)</span> <span class="orange">{</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Number is in the range 21-39"</span><span class="yellow">)</span><span class="white">;</span>
      <span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
        <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Number is 40 or more"</span><span class="yellow">)</span><span class="white">;</span>
      <span class="orange">}</span>
    <span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
      <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Number is 20 or less"</span><span class="yellow">)</span><span class="white">;</span>
    <span class="orange">}</span></code>
</pre>

    <div class="pad">
      <input type="radio" id="q4-a1" name="q4" value="1" />
      <label class="radio-label" for="q4-a1"
        >Number is in the range 21-39</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q4-a2" name="q4" value="2" />
      <label class="radio-label" for="q4-a2">Number is 40 or more</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a3" name="q4" value="3" />
      <label class="radio-label" for="q4-a3">Number is 20 or less</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      5. What are the main keywords associated with conditional statements in
      JavaScript?
    </h2>
    <div class="pad">
      <input type="radio" id="q5-a1" name="q5" value="1" />
      <label class="radio-label" for="q5-a1">function, return, value</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a2" name="q5" value="2" />
      <label class="radio-label" for="q5-a2">if, else, switch</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a3" name="q5" value="3" />
      <label class="radio-label" for="q5-a3">for, while, do</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>6. What will the following code print?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">score</span> <span class="pink">=</span> <span class="purple">75</span><span class="white">;</span>
        <span class="pink">if</span> <span class="yellow">(</span><span class="white">score</span> <span class="white">&gt;=</span> <span class="purple">90</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Grade A"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span> <span class="pink">else if</span> <span class="yellow">(</span><span class="white">score</span> <span class="white">&gt;=</span> <span class="purple">80</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Grade B"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span> <span class="pink">else if</span> <span class="yellow">(</span><span class="white">score</span> <span class="white">&gt;=</span> <span class="purple">70</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Grade C"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
          <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Grade F"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q6-a1" name="q6" value="1" />
      <label class="radio-label" for="q6-a1">Grade A</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a2" name="q6" value="2" />
      <label class="radio-label" for="q6-a2">Grade B</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a3" name="q6" value="3" />
      <label class="radio-label" for="q6-a3">Grade C</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>7. Which case will the following switch statement default to?</h2>
    <pre>
      <code>
        <span class="blue">let</span> <span class="white">day</span> <span class="pink">=</span> <span class="purple">5</span><span class="white">;</span>
        <span class="pink">switch</span> <span class="yellow">(</span><span class="white">day</span><span class="yellow">)</span> <span class="orange">{</span>
          <span class="pink">case</span> <span class="purple">1</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Monday"</span><span class="yellow">)</span><span class="white">;</span>
            <span class="pink">break</span><span class="white">;</span>
          <span class="pink">case</span> <span class="purple">2</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Tuesday"</span><span class="yellow">)</span><span class="white">;</span>
            <span class="pink">break</span><span class="white">;</span>
          <span class="pink">case</span> <span class="purple">3</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Wednesday"</span><span class="yellow">)</span><span class="white">;</span>
            <span class="pink">break</span><span class="white">;</span>
          <span class="pink">default</span><span class="white">:</span>
            <span class="white">console.</span><span class="green">log</span><span class="yellow">(</span><span class="yellow">"Another day"</span><span class="yellow">)</span><span class="white">;</span>
        <span class="orange">}</span></code>
    </pre>

    <div class="pad">
      <input type="radio" id="q7-a1" name="q7" value="1" />
      <label class="radio-label" for="q7-a1">Monday</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a2" name="q7" value="2" />
      <label class="radio-label" for="q7-a2">Wednesday</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a3" name="q7" value="3" />
      <label class="radio-label" for="q7-a3">Another day</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      8. Why might a programmer choose to use a switch statement over multiple
      if-else statements?
    </h2>
    <div class="pad">
      <input type="radio" id="q8-a1" name="q8" value="1" />
      <label class="radio-label" for="q8-a1"
        >To increase the performance of the code.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q8-a2" name="q8" value="2" />
      <label class="radio-label" for="q8-a2"
        >For better readability when dealing with multiple potential
        conditions.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q8-a3" name="q8" value="3" />
      <label class="radio-label" for="q8-a3"
        >Because switch statements can execute faster than if-else statements in
        all cases.</label
      >
    </div>
  </div>
  <button type="submit" class="take-test">Submit Answers</button>
</form>
{% endblock content %}
