{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>level 4</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Conditional Statements in Python</h1>
        <img src="{% static 'app/python.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are Conditional Statements</h2>
          <p>
            <strong>Conditional statements</strong> in Python are used to
            execute different blocks of code based on certain conditions. These
            statements are essential for decision making in your code. The
            primary conditional statements in Python are:
          </p>
          <ul>
            <li>
              <strong>if:</strong> This is used to test a condition and execute
              a block only if the condition is true.
            </li>
            <li>
              <strong>elif:</strong> Short for "else if", it allows you to test
              multiple conditions after an if statement. It's executed if its
              condition is true and all preceding conditions in the chain are
              false.
            </li>
            <li>
              <strong>else:</strong> This catches anything which isn't caught by
              the preceding conditions.
            </li>
          </ul>
          <p>
            Conditional statements are a fundamental part of programming,
            allowing you to control the flow of execution based on conditions.
          </p>
        </section>
        <section>
          <h2>When To Use Conditional Statements</h2>
          <p>
            Conditional statements in programming, including Python, are used in
            various scenarios where you need to make decisions based on specific
            conditions. These are some common use cases:
          </p>
          <ul>
            <li>
              <strong>Control Flow:</strong> To direct the flow of execution
              depending on whether certain conditions are true or false. For
              example, performing different actions based on user input.
            </li>
            <li>
              <strong>Data Filtering:</strong> To execute code only for items
              that meet certain criteria, such as filtering data in a list based
              on some attributes.
            </li>
            <li>
              <strong>Error Handling:</strong> To check for potential errors or
              unexpected values before performing operations. For example,
              checking if a divisor is zero before performing a division.
            </li>
            <li>
              <strong>Feature Toggle:</strong> Enabling or disabling features in
              software based on configuration options or environment variables.
            </li>
            <li>
              <strong>User Authentication:</strong> To determine the level of
              access or permissions a user has, based on their credentials or
              roles.
            </li>
            <li>
              <strong>Validation:</strong> To ensure that input data meets
              certain criteria before it's processed further, such as checking
              if a user's input is within a valid range.
            </li>
            <p>and many more Examples</p>
          </ul>
          <p>
            Conditional statements are a foundational aspect of almost all
            non-trivial programs, enabling developers to build flexible and
            dynamic software systems.
          </p>
        </section>
        <section>
          <h2>Keywords Related to Conditional Statements in Python</h2>
          <p>
            Conditional statements in Python are used to execute different
            blocks of code depending on whether a specified condition is true or
            false. Here are some key terms and keywords associated with
            conditional statements in Python:
          </p>
          <ul>
            <li>
              <span class="keyword">if</span> - The basic conditional statement that executes a
              block of code if the condition is true.
            </li>
            <li>
              <span class="keyword">else</span> - Used to execute a block of code if the
              condition in the <span class="keyword">if</span> statement is false.
            </li>
            <li>
              <span class="keyword">elif</span> - Short for "else if", used to check multiple
              expressions for TRUE and execute a block of code as soon as one of
              the conditions evaluates to TRUE.
            </li>
            <li>
              <span class="keyword">and</span> - A logical operator that combines multiple
              conditions. All conditions must be true for the overall condition
              to be true.
            </li>
            <li>
              <span class="keyword">or</span> - A logical operator that combines multiple
              conditions. At least one of the conditions must be true for the
              overall condition to be true.
            </li>
            <li>
              <span class="keyword">not</span> - A logical operator used to invert the truth
              value of the condition.
            </li>
            <li>
              <span class="keyword">in</span> - Used to check if a value exists within an
              iterable.
            </li>
            <li>
              <span class="keyword">not in</span> - Used to check if a value does not exist
              within an iterable.
            </li>
            <li><span class="keyword">is</span> - Tests for object identity.</li>
            <li><span class="keyword">is not</span> - Tests for object non-identity.</li>
          </ul>
        </section>

        <section>
          <h2>Examples on Python's Conditional Statements</h2>
          <p>
            Here are examples of how to use <span class="keyword">if</span>, <span class="keyword">elif</span>,
            and <span class="keyword">else</span> statements
          </p>
          <h3>
            Simple <span class="keyword">if</span>, <span class="keyword">elif</span>, and
            <span class="keyword">else</span> Example
          </h3>
          <p>This example demonstrates basic conditional logic:</p>
          <pre><code><span class="white">x</span> <span class="pink">=</span> <span class="purple">20</span>
<span class="pink">if</span> <span class="white">x</span> <span class="pink">&lt;</span> <span class="purple">10</span><span class="orange">:</span>
  <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Less than 10"</span><span class="orange">)</span>
<span class="pink">elif</span> <span class="white">x</span> <span class="pink">&lt;</span> <span class="purple">20</span><span class="orange">:</span>
  <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Less than 20 but not less than 10"</span><span class="orange">)</span>
<span class="pink">else</span><span class="orange">:</span>
  <span class="blue">print</span><span class="orange">(</span><span class="yellow">"20 or more"</span><span class="orange">)</span></code></pre>

          <h3>Nested Conditional Example</h3>
          <p>
            Nested conditionals are useful for more complex decision structures.
            Here is how you can use a nested <span class="keyword">if</span> inside another
            <span class="keyword">if</span>:
          </p>
          <pre><code><span class="white">age</span> <span class="pink">=</span> <span class="purple">25</span>
<span class="white">registered</span> <span class="pink">=</span> <span class="blue">True</span>
<span class="pink">if</span> <span class="white">registered</span><span class="orange">:</span>
  <span class="pink">if</span> <span class="white">age</span> <span class="pink">&lt;</span> <span class="purple">18</span><span class="orange">:</span>
    <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Registered but under 18"</span><span class="orange">)</span>
  <span class="pink">else</span><span class="orange">:</span>
    <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Registered and 18 or older"</span><span class="orange">)</span>
<span class="pink">else</span><span class="orange">:</span>
  <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Not registered"</span><span class="orange">)</span></code></pre>

          <h3>Summary</h3>
          <p>
            <strong>Conditional statements</strong> are crucial for controlling
            the flow of execution in a program, allowing for different actions
            based on different conditions.
          </p>
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test4/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
