{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>level 3 </title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Python's Built-in Data Structures</h1>
        <img src="{% static 'app/python.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are built-in Data Structures</h2>
          <p>
            Built-in data structures in Python are pre-defined types that allow
            for the storage and organization of data within a program. They are
            directly accessible without the need to import any external
            libraries, making them integral for everyday programming tasks.
            These data structures are optimized for performance and designed to
            provide a broad range of operations to manage collections of data
            efficiently. Each structure has unique characteristics and
            operations that make it suitable for specific kinds of tasks, like
            indexing, searching, updating, and removing data elements in a
            structured way.
          </p>
        </section>
        <section>
          <h2>Why we use built-in Data Structures</h2>
          <p>
            Built-in data structures in Python are fundamental components of the
            language that allow you to organize and manipulate data efficiently.
            Here are some reasons why we use them:
          </p>
          <ul>
            <li>
              <strong>Efficiency:</strong> Built-in data structures like lists,
              tuples, dictionaries, and sets are highly optimized for
              performance. They are implemented in C under the hood, making
              operations like insertion, deletion, and lookup fast and
              efficient.
            </li>
            <li>
              <strong>Versatility:</strong> Python's built-in data structures
              are versatile and can be used in a wide range of scenarios. Lists
              are flexible sequences of elements, dictionaries are key-value
              pairs for mapping, sets are unordered collections of unique
              elements, and tuples are immutable sequences.
            </li>
            <li>
              <strong>Ease of Use:</strong> Python's built-in data structures
              are designed to be easy to use and understand. They come with
              built-in methods and functionalities that simplify common
              operations. For example, you can easily append an element to a
              list, iterate over a dictionary's keys or values, or perform set
              operations like union, intersection, and difference.
            </li>
            <li>
              <strong>Expressiveness:</strong> Python's syntax for working with
              built-in data structures is concise and expressive. This makes
              code more readable and maintainable, as complex data manipulations
              can often be expressed in just a few lines of code.
            </li>
            <li>
              <strong>Memory Management:</strong> Python's built-in data
              structures handle memory management automatically, making it
              easier for developers to focus on solving problems rather than
              worrying about memory allocation and deallocation.
            </li>
            <li>
              <strong>Standardization:</strong> Built-in data structures are
              part of the Python standard library, which means they are
              available out of the box and can be used in any Python environment
              without the need for additional installations or dependencies.
            </li>
          </ul>
        </section>
        <section>
          <h2>Available Data Structures in Python</h2>
          <h3>1. Lists:</h3>
          <p>
            Lists are ordered collections of items that can be of different data
            types. They are mutable, meaning their elements can be changed after
            creation.
          </p>
          <p>
            Use Case: Lists are commonly used when you need a collection of
            items that you may need to modify, such as a list of tasks, names,
            or numbers.
          </p>
          <pre><code><span class="white">my_list</span> <span class="pink">=</span> <span class="orange">['<span class="yellow">apple</span>', '<span class="yellow">banana</span>', '<span class="yellow">cherry</span>']</span></code></pre>
          <h3>2. Tuples:</h2>
          <p>
            Tuples are similar to lists, but they are immutable, meaning their
            elements cannot be changed after creation. They are often used to
            store related pieces of data together.
          </p>
          <p>
            <strong>Use Case:</strong> Tuples are useful when you want to ensure
            that the data remains unchanged throughout the program, such as
            coordinates, RGB values, or data that is passed as arguments to
            functions.
          </p>
          <pre><code><span class="white">my_tuple</span> <span class="pink">=</span> <span class="orange">(</span><span class="yellow">'apple'</span><span class="white">,</span> <span class="yellow">'banana'</span><span class="white">,</span> <span class="yellow">'cherry'</span><span class="orange">)</span></code></pre>
          <h3>3. Sets:</h2>
          <p>
            Sets are unordered collections of unique elements. They do not allow
            duplicate items. Sets are mutable, meaning you can add or remove
            items from them.
          </p>
          <p>
            <strong>Use Case:</strong> Sets are handy for operations requiring
            uniqueness, such as removing duplicates from a list or checking for
            membership.
          </p>
          <pre><code><span class="white">my_set</span> <span class="pink">=</span> <span class="orange">{'<span class="yellow">apple</span>', '<span class="yellow">banana</span>', '<span class="yellow">cherry</span>'}</span></code></pre>
          
          <h3>4. Dictionaries:</h3>
          <p>
            Dictionaries are collections of key-value pairs. They are unordered,
            mutable, and can store any data type as values. Keys must be unique.
          </p>
          <p>
            <strong>Use Case:</strong> Dictionaries are useful when you need to
            map keys to values, such as storing information about a person,
            product, or any entity with associated attributes.
          </p>
          <pre><code><span class="white">my_dict</span> <span class="pink">=</span> <span class="orange">{'<span class="yellow">name</span>': '<span class="yellow">John</span>', '<span class="yellow">age</span>': <span class="purple">30</span>, '<span class="yellow">city</span>': '<span class="yellow">New York</span>'}</span></code></pre>
          
        </section>
        <section>
          <h3>Built-in methods Related To Built-in Datastrures</h3>
          <h2>Lists</h2>
          <ul>
            <li>
              <strong>len()</strong>: Returns the number of items in a list.
            </li>
            <li>
              <strong>append()</strong>: Adds an item to the end of a list.
            </li>
            <li>
              <strong>pop()</strong>: Removes and returns the item at the
              specified index.
            </li>
            <li>
              <strong>sort()</strong>: Sorts the items of a list in ascending
              order.
            </li>
          </ul>
          <p>Examples:</p>
          <pre><code><span class="white">my_list</span><span class="pink">=</span> <span class="orange">[</span><span class="purple">3</span><span class="white">,</span> <span class="purple">1</span><span class="white">,</span> <span class="purple">4</span><span class="white">,</span> <span class="purple">1</span><span class="white">,</span> <span class="purple">5</span><span class="white">,</span> <span class="purple">9</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">6</span><span class="white">,</span> <span class="purple">5</span><span class="orange">]</span>
<span class="blue">print</span><span class="orange">(</span><span class="blue">len</span><span class="purple">(</span><span class="white">my_list</span><span class="purple">)</span><span class="orange">)</span>  <span class="comment"># Output: 9</span>
          
<span class="white">my_list</span><span class="white">.</span><span class="blue">append</span><span class="orange">(</span><span class="purple">7</span><span class="orange">)</span>
<span class="white">print</span><span class="orange">(</span><span class="white">my_list</span><span class="orange">)</span>  <span class="comment"> # Output: [3, 1, 4, 1, 5, 9, 2, 6, 5, 7]</span>
          
<span class="white">popped_item</span><span class="white"> = </span><span class="white">my_list</span><span class="purple">.</span><span class="blue">pop</span><span class="orange">(</span><span class="purple">2</span><span class="orange">)</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">popped_item</span><span class="orange">)</span><span class="comment"> # Output: 4</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">my_list</span><span class="orange">)</span><span class="comment"> # Output: [3, 1, 1, 5, 9, 2, 6, 5, 7]</span>
          
<span class="white">my_list</span><span class="white">.</span><span class="blue">sort</span><span class="orange">()</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">my_list</span><span class="orange">)</span><span class="comment"># Output: [1, 1, 2, 3, 5, 5, 6, 7, 9]</span></code></pre>

          <h2>Dictionaries</h2>
          <ul>
            <li>
              <strong>keys()</strong>: Returns a view object that displays a
              list of all the keys in the dictionary.
            </li>
            <li>
              <strong>values()</strong>: Returns a view object that displays a
              list of all the values in the dictionary.
            </li>
            <li>
              <strong>items()</strong>: Returns a view object that displays a
              list of tuple pairs (key, value) in the dictionary.
            </li>
            <li>
              <strong>get()</strong>: Returns the value of the specified key. If
              the key does not exist, it returns None or the specified default
              value.
            </li>
          </ul>
          <p>Examples:</p>
          <pre><code><span class="white">my_dict</span> <span class="pink">=</span> <span class="orange">{'a': 1, 'b': 2, 'c': 3}</span>
          
<span class="blue">print</span><span class="orange">(</span><span class="white">my_dict</span><span class="purple">.</span><span class="white">keys</span><span class="purple">())</span>  <span class="comment"># Output: dict_keys(['a', 'b', 'c'])</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">my_dict</span><span class="purple">.</span><span class="white">values</span><span class="purple">())</span>  <span class="comment"># Output: dict_values([1, 2, 3])</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">my_dict</span><span class="purple">.</span><span class="white">items</span><span class="purple">())</span>  <span class="comment"># Output: dict_items([('a', 1), ('b', 2), ('c', 3)])</span>
          
<span class="blue">print</span><span class="orange">(</span><span class="white">my_dict</span><span class="purple">.</span><span class="white">get</span><span class="orange">(</span><span class="yellow">'a'</span><span class="orange">))</span>  <span class="comment"># Output: 1</span>
<span class="blue">print</span><span class="orange">(</span><span class="white">my_dict</span><span class="purple">.</span><span class="white">get</span><span class="orange">(</span><span class="yellow">'d'</span><span class="orange">,</span> <span class="yellow">'Key not found'</span><span class="orange">))</span>  <span class="comment"># Output: Key not found</span></code></pre>
          
          <h2>Sets</h2>
          <ul>
            <li><strong>add()</strong>: Adds an element to the set.</li>
            <li>
              <strong>remove()</strong>: Removes the specified element from the
              set. Raises KeyError if the element is not present.
            </li>
            <li>
              <strong>union()</strong>: Returns a new set with elements from
              both sets.
            </li>
            <li>
              <strong>intersection()</strong>: Returns a new set with elements
              that are common to both sets.
            </li>
          </ul>
          <p>Examples:</p>
          <pre><code><span class="white">my_set1</span> <span class="pink">=</span> <span class="orange">{<span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span>}</span>
<span class="white">my_set2</span> <span class="pink">=</span> <span class="orange">{<span class="purple">3</span><span class="white">,</span> <span class="purple">4</span><span class="white">,</span> <span class="purple">5</span>}</span>
          
<span class="white">my_set1</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(<span class="purple">4</span>)</span>
<span class="blue">print</span><span class="orange">(<span class="white">my_set1</span>)</span>  <span class="comment"># Output: {1, 2, 3, 4}</span>
          
<span class="white">my_set1</span><span class="purple">.</span><span class="blue">remove</span><span class="orange">(<span class="purple">2</span>)</span>
<span class="blue">print</span><span class="orange">(<span class="white">my_set1</span>)</span>  <span class="comment"># Output: {1, 3, 4}</span>
          
<span class="white">union_set</span> <span class="pink">=</span> <span class="white">my_set1</span><span class="purple">.</span><span class="blue">union</span><span class="orange">(<span class="white">my_set2</span>)</span>
<span class="blue">print</span><span class="orange">(<span class="white">union_set</span>)</span>  <span class="comment"># Output: {1, 3, 4, 5}</span>
          
<span class="white">intersection_set</span> <span class="pink">=</span> <span class="white">my_set1</span><span class="purple">.</span><span class="blue">intersection</span><span class="orange">(<span class="white">my_set2</span>)</span>
<span class="blue">print</span><span class="orange">(<span class="white">intersection_set</span>)</span>  <span class="comment"># Output: {3}</span></code></pre>
          
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test3/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
