{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Functions in JavaScript</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Functions in JavaScript</h1>
        <img src="{% static 'app/js.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What Are Functions in JavaScript?</h2>
          <p>
            Functions in JavaScript are blocks of code designed to perform a
            particular task and are executed when they are called (or invoked).
            Functions allow you to define code once and reuse it multiple times.
            They can take parameters, which are used as inputs, and can
            optionally return a value.
          </p>
          <p>JavaScript functions can be defined in several ways:</p>
          <ul>
            <li>
              <strong>Function Declaration:</strong> Also known as a function
              statement, it defines a function with the specified parameters.
            </li>
            <pre>
              <code>
                function add(x, y) {
                return x + y;
                }</code>
            </pre>
            <li>
              <strong>Function Expression:</strong> A function can also be
              defined using an expression. Function expressions can be anonymous
              or named.
            </li>
            <pre>
              <code>
                const multiply = function(x, y) {
                return x * y;
                };</code>
            </pre>
            <li>
              <strong>Arrow Function:</strong> Introduced in ES6, arrow
              functions offer a more concise syntax for writing function
              expressions.
            </li>
            <pre>
              <code>
                const subtract = (x, y) => x - y;</code>
            </pre>
          </ul>
          <p>
            Functions are first-class objects in JavaScript, meaning they can be
            stored in variables, passed as arguments to other functions,
            returned from functions, and have properties and methods just like
            any other object.
          </p>
        </section>
        <section>
          <h2>Keywords Related to Functions in JavaScript</h2>
          <p>
            Here are some common keywords and terms associated with functions in
            JavaScript:
          </p>
          <ul>
            <li>
              <code>function</code> - The keyword used to declare a function.
            </li>
            <li>
              <code>return</code> - Specifies the value that is returned by the
              function.
            </li>
            <li>
              <code>this</code> - Refers to the object that the function is a
              method of.
            </li>
            <li>
              <code>async</code> - Declares an asynchronous function which
              returns a promise.
            </li>
            <li>
              <code>await</code> - Pauses the execution of an async function to
              wait for the Promise's resolution.
            </li>
            <li>
              <code>arguments</code> - An array-like object accessible inside
              functions that contains the values of the arguments passed to that
              function.
            </li>
            <li>
              <code>function*</code> - Declares a generator function, which can
              be exited and later re-entered with its context (variable
              bindings) saved across re-entrances.
            </li>
            <li>
              <code>=></code> - Used to define arrow functions, which provide a
              concise syntax for writing function expressions.
            </li>
          </ul>
        </section>
        <section>
          <h2>Why We Use Functions in JavaScript</h2>
          <p>
            Functions are fundamental to JavaScript programming for several
            reasons:
          </p>
          <ul>
            <li>
              <strong>Modularity:</strong> Functions allow developers to break
              complex problems into smaller, manageable parts. This makes the
              code more organized and easier to maintain.
            </li>
            <li>
              <strong>Reusability:</strong> Once a function is defined, it can
              be reused multiple times throughout a program. This eliminates the
              need for duplicating code and helps in reducing errors.
            </li>
            <li>
              <strong>Scoping:</strong> Functions help to encapsulate variables,
              providing local scope and preventing global namespace pollution.
              This means variables defined within a function are not accessible
              outside of it unless explicitly returned or stored globally.
            </li>
            <li>
              <strong>Control Flow:</strong> Functions can be used to control
              the execution flow of a program, particularly in asynchronous
              programming, by using callbacks, promises, and async/await
              patterns.
            </li>
            <li>
              <strong>Abstraction:</strong> Functions provide a level of
              abstraction, allowing a developer to think at a higher logical
              level rather than focusing on the details of the implementation.
            </li>
          </ul>
        </section>
        <section>
          <h2>When to Use Functions in JavaScript</h2>
          <p>
            Functions in JavaScript are versatile and can be used in various
            scenarios:
          </p>
          <ul>
            <li>
              <strong>Event Handling:</strong> Functions are often used as event
              handlers in web pages. When a user interacts with the page (e.g.,
              clicks a button), a function can be triggered to perform a
              specific action.
            </li>
            <li>
              <strong>Data Processing:</strong> Use functions to manipulate
              data, such as sorting arrays, filtering lists, or transforming
              values, which helps in organizing logic that can be tested and
              reused.
            </li>
            <li>
              <strong>Creating APIs:</strong> Functions serve as building blocks
              for creating APIs in applications, allowing various components of
              the software to interact efficiently.
            </li>
            <li>
              <strong>Asynchronous Operations:</strong> In dealing with
              asynchronous operations like fetching data from a server,
              functions can manage tasks that depend on completion of previous
              tasks through callbacks, promises, or async/await.
            </li>
            <li>
              <strong>Encapsulation:</strong> Use functions to encapsulate code
              to hide its complexity, protect data integrity, and prevent
              namespace pollution. This is particularly useful in large
              applications to maintain code readability and modularity.
            </li>
            <li>
              <strong>Reusable Logic:</strong> Whenever you find yourself
              writing the same code multiple times, it's often a good indication
              that this code should be turned into a function for better
              reusability and simplicity.
            </li>
            <li>
              <strong>Testing and Debugging:</strong> Functions can simplify
              testing and debugging processes by isolating code blocks. This
              isolation helps in unit testing specific parts of a program
              independently.
            </li>
          </ul>
        </section>
        <section>
          <h2>Examples of Using Functions in JavaScript</h2>
          <p>Here are examples that illustrate using functions in JavaScript</p>
          <h3>1. Greeting Function</h3>
          <p>This function takes no arguments and prints a greeting message:</p>
          <pre>
            <code>
              function greet() {
                console.log("Hello");
              }
              greet(); // Outputs: Hello</code>
          </pre>

          <h3>2. Simple Function to Add Two Numbers</h3>
          <p>This function takes two parameters and returns their sum:</p>
          <pre>
            <code>
              function add(a, b) {
                return a + b;
              }
              console.log(add(2, 3)); <span class="comment">// Outputs: 5</span></code>
          </pre>
          <h3>3. Check Age Function</h3>
          <p>
            This function takes an age and checks if the person is eligible to
            vote (18 years and older):
          </p>
          <pre>
            <code>
              function canVote(age) {
                if (age >= 18) {
                    console.log("You are eligible to vote.");
                } else {
                    console.log("You are not eligible to vote.");
                }
              }
              canVote(21); <span class="comment">// Outputs: You are eligible to vote.</span>
              canVote(16); <span class="comment">// Outputs: You are not eligible to vote.</span></code>
          </pre>
          <h3>4. Function to Calculate Factorial</h3>
          <p>
            This function uses a loop to calculate the factorial of a number:
          </p>
          <pre>
            <code>
              function factorial(n) {
                let result = 1;
                for (let i = 1; i &lt;= n; i++) {
                  result *= i;
                }
                return result;
              }
              console.log(factorial(5)); // Outputs: 120</code>
          </pre>
        </section>
        <section>
          <h2>Recursion in JavaScript</h2>
          <p>
            Recursion in JavaScript is a technique where a function calls itself
            in order to solve smaller instances of the same problem. This
            approach is particularly useful for tasks that can be broken down
            into simpler, repetitive operations such as sorting algorithms or
            calculating factorial values.
          </p>
          <h3>Key Concepts of Recursion</h3>
          <ul>
            <li>
              <strong>Base Case:</strong> The condition under which the
              recursive calls stop. This is critical to avoid infinite loops and
              stack overflow errors.
            </li>
            <li>
              <strong>Recursive Case:</strong> The condition under which the
              function continues to call itself with new arguments that progress
              towards the base case.
            </li>
          </ul>
          <h3>Example of Recursion in JavaScript</h3>
          <p>
            Below is a simple example of a recursive function in JavaScript that
            computes the factorial of a number:
          </p>
          <pre>
            <code>
              function factorial(n) {
                  if (n === 0) { <span class="comment">// Base case</span>
                      return 1;
                  } else { <span class="comment">// Recursive case</span>
                      return n * factorial(n - 1);
                  }
              }
              
              console.log(factorial(5)); <span class="comment">// Outputs: 120</span></code>
          </pre>
          <p>
            In this example, the <code>factorial</code> function calls itself
            with decreasing values of <code>n</code> until it reaches 0, at
            which point it returns 1. Each return value is then multiplied back
            up the chain to calculate the final factorial.
          </p>
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test6/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
