{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'users/edit.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="editProfile">
        <div class="header">
          <h1>Edit Profile</h1><hr>
        </div>
        <form method="post" action="{% url 'user-edit' %}">
          {% csrf_token %}
          <div class="formdiv">
            <label for="username">Username</label><br>
            <input
              type="text"
              id="username"
              placeholder="Enter username"
              name="username"
              required
            />
          </div>

          <div class="formdiv">
            <label for="firstName">First Name</label><br>
          <input
            type="text"
            id="firstName"
            placeholder="Enter first name"
            name="fname"
            required
          />
          </div>

          <div class="formdiv">
            <label for="lastName">Last Name</label><br>
          <input
            type="text"
            id="lastName"
            placeholder="Enter last name"
            name="lname"
            required
          />
          </div>

          <p class="see">
            <strong>to save changes please enter your password</strong>
          </p>

          <div>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
            name="password"
            required
          />
          </div>
          <div class="buttons">
            <button class="button-30" role="button" type="button" onclick="window.location.href = '../'">Cancel</button>
            <button class="button-29" role="button" type="submit">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
