{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/login.css' %}" />
    <title>login</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <script src="{% static 'users/usersHide.js' %}"></script>
    <div id="errorMessage" class="alert">
      {{ message }}
      <button class="close-button" onclick="closeMe()">&times;</button>
    </div>
    <script>
      hideMessage();
    </script>
    {% endfor %} {% endif %}
    <div class="container">
      <div class="login">
        <div class="log-container">
          <h1>Log in</h1>
          <form method="post" action="{% url 'user-login' %}">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" />
            <input
              type="password"
              placeholder="Password"
              name="password"
            /><br />
            <button class="submit" type="submit">log in</button>
          </form>
          <!-- <div class="clearfix"></div> -->
          <span class="copyright">&copy;2024 Learning Made Fun</span>
        </div>
      </div>
      <div class="register">
        <div class="reg-container">
          <i class="fas fa-user-plus fa-5x"></i>
          <h2>Don't Have an Account?</h2>
          <p>You Can Sign up From Here</p>
          <button class="button-29" onclick="location.href='/register'">
            Register
          </button>
        </div>
      </div>
    </div>

  </body>
</html>
