{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/profile.css' %}" />
    <title>Profile</title>
  </head>
  <body>
    <style>
      /* Keyframe animations */
      @keyframes python {
        0% {
          width: 0%;
        }
        100% {
          width: {{ info.python }}%;
        }
      }
      @keyframes java {
        0% {
          width: 0%;
        }
        100% {
          width: {{ info.java }}%;
        }
      }
      @keyframes javascript {
        0% {
          width: 0%;
        }
        100% {
          width: {{ info.javaScript }}%;
        }
      }

      @keyframes total {
        0% {
          width: 0%;
        }
        100% {
          width: {{ info.total }}%;
        }
      }
    </style>
    <div class="container">
      <div class="title">
        <h1>User Profile</h1>
      </div>
      <div class="flexed">
        <div class="left">
          <div class="profile-pic">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="file-input" class="upload-btn">
                <input
                  type="file"
                  id="file-input"
                  class="file-input"
                  name="profile_picture"
                  accept="image/*"
                />
                {% if user.profile_picture %}
                <img
                  src="{{ user.profile_picture.url }}"
                  alt="profile picture"
                />
                {% else %}
                <img
                  src="{% static 'users/default.jpg' %}"
                  alt="profile picture"
                />
                {% endif %}
                <span class="plus-icon icon">+</span>
              </label>
              <button type="submit" class="to-hide"></button>
            </form>
          </div>
          <div class="infos">
            <div class="info">
              <p class="thick">Username</p>
              <p class="see">{{user.username}}</p>
            </div>
            <div class="info">
              <p class="thick">first name</p>
              <p class="see">{{user.first_name}}</p>
            </div>
            <div class="info">
              <p class="thick">Last name</p>
              <p class="see">{{user.last_name}}</p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="skill">
            <!-- Skill section content -->
            <h1 class="progress">Your Progress</h1>
            <br />
            <hr />
            <ul>
              <li>
                <h3>Python</h3>
                <span class="bar"
                  ><span class="python" style="width: {{info.python}}%"></span
                ></span>
              </li>
              <li>
                <h3>Java</h3>
                <span class="bar"
                  ><span class="java" style="width: {{info.java}}%"></span
                ></span>
              </li>
              <li>
                <h3>JavaScript</h3>
                <span class="bar"
                  ><span
                    class="javascript"
                    style="width: {{info.javaScript}}%"
                  ></span
                ></span>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <button
              class="button-29 edit"
              role="button"
              onclick="window.location.href='edit/'"
            >
              Edit Profile
            </button>
            <button
              class="button-29 change"
              role="button"
              onclick="window.location.href='change_password/'"
            >
              Change Password
            </button>
            <button id="deleteButton" onclick="cnf_delete()" class="button-29 delete" role="button">
              Delete Account
            </button>
          </div>

          <div id="modal" class="modal">
            <div class="modal-content">
              <h2>Confirm Account Deletion</h2>
              <p class="conf-text">Are you sure you want to delete your account? This action cannot be undone.</p>
              <div class="button-container">
                <button id="confirm" class="war-btn yes">Confirm</button>
                <button id="cancel" class="war-btn cancel">Cancel</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="{% static 'users/del-btn.js' %}"></script>
    <script src="{% static 'users/change-pic.js' %}"></script>
  </body>
</html>
