{% load static %}
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>User profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'users/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'users/del-btn.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="profile">
      <h1><strong>User profile</strong></h1>
      <div class="display">
      <img src="{% static 'users/default.jpg' %}" alt="" />

        <div class="info">
          <label for="username">Username:</label>
          <span id="username"><strong>{{user.username}}</strong></span>

          <hr/>
          <label for="email">Email: <strong>{{user.email}}</strong></label>
          <hr />
          <label for="firstName"
            >First Name: <strong>{{user.first_name}}</strong></label
          >
          <hr/>
          <label for="lastName"
            >Last Name: <strong>{{user.last_name}}</strong>
          </label>
        </div>
      </div>
      <div class="profile-info">
        <label for="pythonProgress">Python Progress:</label>
        <div
          id="pythonProgress"
          class="progress"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: 50%; background-color: #3776ab"
          ></div>
        </div>
      </div>
      <hr />
      <div class="profile-info">
        <label for="javaProgress">Java Progress:</label>
        <div
          id="javaProgress"
          class="progress"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: 50%; background-color: #f89820"
          ></div>
        </div>
      </div>

      <hr />
      <div class="profile-info">
        <label for="javaScriptProgress">javaScript Progress:</label>
        <div
          id="javaScriptProgress"
          class="progress"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: 50%; background-color: #f0db4f"
          ></div>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center">
        <div class="button-container edit-button">
          <button onclick="window.location.href = 'edit/';">
            Edit Profile
          </button>
        </div>
        <div
          class="button-container change-button"
          onclick="window.location.href = 'change_password/';"
        >
          <button>Change Password</button>
        </div>
        <div class="button-container delete-button">
          <button id="deleteButton">Delete Account</button>
          <div class="confirmationModal" id="confirmationModal">
            <div class="modalContent">
              <span class="close" id="closeButton">&times;</span>
              <h2>Confirmation</h2>
              <p>Are you sure you want to delete your account?</p>
              <button id="confirmDelete" style="background-color:red">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'users/del-btn.js' %}"></script>
  </body>
</html>
