{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/register.css' %}" />
  </head>
  <body>
    <h1 class="h1"><a href="{% url 'app-home' %}">Learning Made Fun</a></h1>
    <main>
      <header>
        <h4>Register</h4>
      </header>
      <form method="post">
        {% csrf_token %}
        <div class="form_wrapper">
          <input id="username" type="text" required name="username"/>
          <label for="username">Username</label>
        </div>
        <div class="form_wrapper">
          <input id="password" type="password" required name="password"/>
          <label for="password">Password</label>
        </div>
        <div class="form_wrapper">
          <input id="confirm" type="password" required name="confirm"/>
          <label for="confirm">Confirm Password</label>
        </div>
        <div class="remember_box">
          <div class="remember">
            <input id="rememberCheckBox" type="checkbox" />
            Remember me
          </div>
        </div>
        <button>Sign up</button>
        <div class="new_account">
          Already have an account ? <a href="{% url 'app-login' %}">Sign in</a>
        </div>
      </form>
    </main>
  </body>
</html>
