{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/register.css' %}" />
    <title>Register</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <script src="{% static 'users/usersHide.js' %}"></script>
    <div id="errorMessage" class="alert">
      {{ message }}
      <button class="close-button" onclick="closeMe()">&times;</button>
    </div>
    <script>
      hideMessage();
    </script>
    {% endfor %} {% endif %}
    <div class="container">
      <div class="flexed">
        <div class="register">
          <div class="inner">
            <h1>Register</h1>
            <form method="post" action="{% url 'user-register' %}">
              {% csrf_token %}
              <input required type="text" name="username" placeholder="Username" />
              <input required type="text" name="fname" placeholder="First Name" />
              <input required type="text" name="lname" placeholder="Last Name" />
              <input required type="password" name="password" placeholder="Password" /><br />
              <input required type="password" name="confirm" placeholder=" Confirm Password" /><br />
              <button type="submit">Register</button>
            </form>
            <div class="clearfix"></div>
            <span class="copyright">&copy;2024 Learning Made Fun</span>
          </div>
        </div>
        <div class="login">
          <div class="inner">
            <i class="fas fa-user-plus fa-5x"></i>
            <h2>Already Have an Account?</h2>
            <p>You Can Sign in From Here</p>
            <button class="button-29" onclick="location.href='/login'" >Login</button>
            <!-- <button>Login <i class="fas fa-arrow-circle-right"></i></button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
