* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #00BFFF;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
main {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
  text-align: center;
}

main header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[name="username"],
input[name="password"],
input[name="confirm"] {
  padding: 10px;
  border: 2px solid white;
  width: 100%;
  border-radius: 25px;
  outline: none;
  background-color: transparent;
  color: white;
}

.form_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

label {
  position: absolute;
  left: 10px;
  font-size: 12px;
  color: white;
  transition: 0.2s;
}

i {
  position: absolute;
  right: 10px;
  color: white;
  font-size: 15px !important;
}

.remember_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

a {
  color: white;
}

button {
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

input:valid + label,
input:focus + label {
  background-color: white;
  color: black;
  transform: translate(10px, -20px);
  padding: 2px 5px;
  font-size: 8px;
  border-radius: 4px;
}

.new_account {
  text-align: center;
  color: lightgray;
}

header::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  box-shadow: 15px 0 0 0 white;
  border-top-right-radius: 50%;
}
header::after {
  position: absolute;
  content: "";
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  box-shadow: -15px 0 0 0 white;
  border-top-left-radius: 50%;
}
#rememberCheckBox {
  cursor: pointer;
}
.alert{
  opacity: 1;
  transition: opacity 1s;
}