/* Apply box-sizing border-box to all elements to include padding and border in the element's total width and height */
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  
}

/* Style for the entire body */
body {
  background: #e9ebee; /* Background color */
  display: flex; /* Flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  font-family: sans-serif; /* Font family */
}

/* Container styling */
.container {
  width: 72vw;
  display: flex; 
  margin: auto; /* Center the container horizontally */
  /* padding: 20px;  */
  height: 90vh; 
}

.reg-container {
  margin: auto; 
  padding: 20px; 
}

.log-container {
  width: 400px; 
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Padding inside the container */
}

/* Style for login and register sections */
.login,
.register {
  width: 36vw;
}

/* Start Login Style */
.login {
  /* float: left;  */
  background-color: #fafafa; /* Background color */
  height: 90vh; 
  display: flex;
  border-radius: 10px 0 0 10px; /* Rounded corners */
  text-align: center; /* Center text */
  align-items: center;
  /* padding-top: 100px;  */
}

.login h1 {
  margin-bottom: 40px; 
  font-size: 2.5em; /* Font size */
}

/* Input field styling */
input[type="text"],
input[type="password"] {
  width: 90%; /* Full width */
  padding: 10px; /* Padding */
  margin-bottom: 30px; /* Bottom margin */
  border: none; /* No border */
  background-color: #eeeeef; /* Background color */
}

.login span {
  float: left; 
}

.login a {
  float: right; /* Float right */
  text-decoration: none; /* No underline */
  color: #000; /* Text color */
  transition: 0.3s all ease-in-out; /* Transition effect */
}

.login a:hover {
  color: #50b96f; /* Text color on hover */
  font-weight: bold; /* Bold font on hover */
}

/* Button styling */
.submit {
  width: 90%; /* Full width */
  margin: 30px 0; /* Margin */
  padding: 10px; /* Padding */
  border: none; /* No border */
  background-color: #4F47FF; /* Background color */
  color: #fff; /* Text color */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: 0.3s all ease-in-out; /* Transition effect */
}

.login button:hover {
  width: 93%; /* Slightly reduced width on hover */
  font-size: 22px; /* Increased font size on hover */
  border-radius: 5px; /* Rounded corners */
}

.login hr {
  width: 30%; /* Width */
  display: inline-block; /* Display as inline-block */
}

.login p {
  display: inline-block; /* Display as inline-block */
  margin: 0px 10px 30px; /* Margin */
}
.login .copyright {
  display: inline-block; /* Display as inline-block */
  float: none; /* Clear float */
  text-align: center;
}

/* Start Register Style */
.register {
  /* float: right */
  /* background-image: linear-gradient(135deg, #4fb3cf, #50b96f); */
  background-image: linear-gradient(179deg, #4F47FF, #4F469E);
  height: 90vh; 
  color: #fff; /* Text color */
  border-radius: 0 10px 10px 0; /* Rounded corners */
  text-align: center; /* Center text */
  display: flex;
  align-items: center;
  /* padding: 100px 0;  */
}

.register h2 {
  margin: 70px 0; /* Margin */
  font-size: 50px; /* Font size */
  letter-spacing: 3px; /* Letter spacing */
}

.register p {
  font-size: 18px; /* Font size */
  margin-bottom: 70px; /* Bottom margin */
}

.button-29 {
  letter-spacing: 2px;
  width: 200px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.hidden {
  display: none;
}
.alert {
  opacity: 1;
  transition: opacity 1s;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  position: relative; /* Needed to position the close button */
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto; /* Center the alert */
  z-index: 1000;
  position: fixed;
  top: 10%;
}
.close-button {
  position: absolute;
  right: 11px;
  top: 6%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 25px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px; /* Space between the button and the alert */
}
@media screen and (max-width: 750px){
  .container {
    display: block;
    width: 90vw;
  }
  .login {
    width: 90vw;
    height: 53vh;
    border-radius: 10px 10px 0 0;
  }
  .register {
    width: 90vw;
    height: 37vh;
    border-radius: 0 0 10px 10px;
  }
  .register h2 {
    margin: 35px 0;
    font-size: 35px;
  }
  .register p {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) and (max-height: 740px) {
  .login, .register {
    height: 45vh;
  }
  .login h1 {
    margin-bottom: 15px;
  }
  input[type="text"], input[type="password"] {
    margin-bottom: 20px;
  }
  .submit {
    margin: 10px 0;
  }
  .register h2 {
    margin: 35px 0;
    font-size: 30px;
  }
}