{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>java built-in functions</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <style></style>
    <div class="container">
      <header>
        <h1>Getting Familiar With Python's Syntax</h1>
        <img src="{% static 'app/java.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are built-in functions</h2>
          <p>
            In Java, a built-in function typically refers to the methods
            provided by Java's standard libraries, which are part of the Java
            API. These methods are readily available for use without the need
            for the programmer to define them. They serve a wide range of
            purposes, from mathematical calculations to handling strings, files,
            and data collections.
          </p>
        </section>
        <section>
          <h2>What are built-in functions used for</h2>
          <p>
            We use built-in functions in programming languages like Java for
            several important reasons:
          </p>
          <ul>
            <li>
              <strong>Efficiency:</strong> Built-in functions are often
              optimized for performance by the language developers. They are
              implemented in a way that maximizes speed and minimizes resource
              usage, which can be hard to achieve with custom code.
            </li>
            <li>
              <strong>Reliability:</strong> These functions have been thoroughly
              tested and are used widely, ensuring that they are reliable and
              free from common bugs. This reduces the risk of errors in your own
              code.
            </li>
            <li>
              <strong>Simplicity:</strong> Built-in functions simplify the
              coding process by providing ready-to-use solutions for routine
              tasks, allowing developers to accomplish more with less code. This
              makes the code cleaner and easier to understand.
            </li>
            <li>
              <strong>Portability:</strong> Using built-in functions ensures
              that your code can run on any platform that supports the Java
              runtime, without needing any modifications. This is because the
              functionality of these functions is defined as part of the Java
              standard.
            </li>
            <li>
              <strong>Productivity:</strong> By reducing the need to write and
              test custom implementations of common functionalities, built-in
              functions allow developers to focus more on the specific logic and
              features unique to their applications.
            </li>
            <li>
              <strong>Standardization:</strong> Built-in functions promote
              coding standards and best practices. When developers use these
              functions, it helps maintain a uniformity in coding styles across
              different projects, which is beneficial for code maintenance and
              team collaboration.
            </li>
          </ul>
        </section>
        <section>
          <h2>Most Used Built-in Java Functions</h2>
          <table>
            <tr>
              <th>Class</th>
              <th>Function</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Math</td>
              <td>Math.abs()</td>
              <td>Returns the absolute value of a number.</td>
            </tr>
            <tr>
              <td>Math</td>
              <td>Math.sqrt()</td>
              <td>Returns the square root of a number.</td>
            </tr>
            <tr>
              <td>Math</td>
              <td>Math.pow()</td>
              <td>
                Returns the value of one number raised to the power of another.
              </td>
            </tr>
            <tr>
              <td>String</td>
              <td>String.length()</td>
              <td>Returns the length of the string.</td>
            </tr>
            <tr>
              <td>String</td>
              <td>String.substring()</td>
              <td>Returns a substring from the specified string.</td>
            </tr>
            <tr>
              <td>String</td>
              <td>String.equals()</td>
              <td>Compares two strings for equality.</td>
            </tr>
            <tr>
              <td>System</td>
              <td>System.out.println()</td>
              <td>Prints a message to the standard output.</td>
            </tr>
            <tr>
              <td>ArrayList</td>
              <td>add()</td>
              <td>Adds an element to the ArrayList.</td>
            </tr>
            <tr>
              <td>ArrayList</td>
              <td>get()</td>
              <td>
                Returns the element at a specified position in the ArrayList.
              </td>
            </tr>
            <tr>
              <td>ArrayList</td>
              <td>remove()</td>
              <td>Removes the element at the specified position.</td>
            </tr>
          </table>
        </section>
        <section>
          <h2>Commonly used examples</h2>
          <hr />
          <ul>
            <li>
              <h3>1. Math Functions</h3>
              <hr />
              <ul>
                <li>
                  <h4>Math.abs()</h4>
                  <p>
                    This Java code snippet declares an integer variable
                    <code>a</code> with a value of -20. It then prints the
                    absolute value of <code>a</code> using the
                    <strong>Math.abs()</strong> method. The output will be
                    "Absolute value of -20 is: 20", as
                    <strong>Math.abs()</strong> converts any negative number to
                    its positive equivalent.
                  </p>
                  <pre>
        <code>
          <span class="blue">int</span> <span class="white">a</span> <span class="pink">=</span> <span class="purple">-20</span><span class="orange">;</span>
          <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Absolute value of -20 is: "</span> <span class="pink">+</span> <span class="white">Math</span><span class="purple">.</span><span class="white">abs</span><span class="orange">(</span><span class="white">a</span><span class="orange">));</span></code>
                  </pre>
                </li>
                <hr />
                <li>
                  <h4>Math.sqrt()</h4>
                  <p>
                    This Java code snippet declares a double variable
                    <code>b</code> with a value of 9.0. It then prints the
                    square root of <code>b</code> using the
                    <strong>Math.sqrt()</strong> method. The output will be
                    "Square root of 9 is: 3.0", as
                    <strong>Math.sqrt()</strong> calculates the square root of
                    the provided number.
                  </p>
                  <pre>
                    <code>
        <span class="blue">double</span> <span class="white">b</span> <span class="pink">=</span> <span class="purple">9.0</span><span class="orange">;</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Square root of 9 is: "</span> <span class="pink">+</span> <span class="white">Math</span><span class="purple">.</span><span class="white">sqrt</span><span class="orange">(</span><span class="white">b</span><span class="orange">));</span></code>
                  </pre>
                </li>
                <hr />
                <li>
                  <h4>Math.pow()</h4>
                  <p>
                    This Java code snippet declares two double variables
                    <code>base</code> with a value of 2.0 and
                    <code>exponent</code> with a value of 3.0. It then prints
                    the result of raising <code>base</code> to the power of
                    <code>exponent</code> using the
                    <strong>Math.pow()</strong> method. The output will be "2
                    raised to the power of 3 is: 8.0", as
                    <strong>Math.pow()</strong> calculates the power of the base
                    raised to the given exponent.
                  </p>
                  <pre>
                    <code>
        <span class="blue">double</span> <span class="white">base</span> <span class="pink">=</span> <span class="purple">2.0</span><span class="orange">;</span>
        <span class="blue">double</span> <span class="white">exponent</span> <span class="pink">=</span> <span class="purple">3.0</span><span class="orange">;</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"2 raised to the power of 3 is: "</span> <span class="pink">+</span> <span class="white">Math</span><span class="purple">.</span><span class="white">pow</span><span class="orange">(</span><span class="white">base</span><span class="white">,</span> <span class="white">exponent</span><span class="orange">));</span></code>
                  </pre>
                  
                </li>
              </ul>
            </li>
            <hr />
            <li>
              <h3>2. String Functions</h3>
              <hr />
              <ul>
                <li>
                  <h4>String.length()</h4>
                  <p>
                    This Java code snippet initializes a
                    <code>String</code> variable <code>str</code> with the value
                    "Hello, world!". It then prints the length of the string
                    using the <strong>length()</strong> method of the
                    <code>String</code> class. The output will be "Length of the
                    string is: 13", as <strong>length()</strong> returns the
                    number of characters in the string.
                  </p>
                  <pre>
                    <code>
        <span class="blue">String</span> <span class="white">str</span> <span class="pink">=</span> <span class="yellow">"Hello, world!"</span><span class="orange">;</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Length of the string is: "</span> <span class="pink">+</span> <span class="white">str</span><span class="purple">.</span><span class="white">length</span><span class="orange">());</span></code>
                  </pre>                  
                </li>
                <hr />
                <li>
                  <h4>String.substring()</h4>
                  <p>
                    This Java code snippet initializes a
                    <code>String</code> variable <code>str</code> with the value
                    "Hello, world!". It then prints a substring of
                    <code>str</code> from index 7 to index 12 using the
                    <strong>substring()</strong> method of the
                    <code>String</code> class. The output will be "Substring
                    from index 7 to 12 is: world", as
                    <strong>substring()</strong> extracts characters starting at
                    the first specified index up to, but not including, the
                    second specified index.
                  </p>
                  <pre>
                    <code>
        <span class="blue">String</span> <span class="white">str</span> <span class="pink">=</span> <span class="yellow">"Hello, world!"</span><span class="orange">;</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Sub from 7 to 12 is: "</span> <span class="pink">+</span> <span class="white">str</span><span class="purple">.</span><span class="white">substring</span><span class="orange">(</span><span class="purple">7</span><span class="white">,</span> <span class="purple">12</span><span class="orange">));</span></code>
                  </pre>                  
                </li>
                <hr />
                <li>
                  <h4>String.equals()</h4>
                  <p>
                    This Java code snippet initializes two
                    <code>String</code> variables <code>str1</code> with the
                    value "Hello" and <code>str2</code> with the value "World".
                    It then compares these two strings using the
                    <strong>==</strong> operator, which checks for reference
                    equality rather than value equality. Since
                    <code>str1</code> and <code>str2</code> refer to different
                    objects, the output is <code>false</code>. The
                    <strong>==</strong> operator in Java checks if both
                    references point to the exact same object, not if their
                    contents are the same.
                  </p>
        <pre>
          <code>
            <span class="blue">String</span> <span class="white">str1</span> <span class="pink">=</span> <span class="yellow">"Hello"</span><span class="orange">;</span>
            <span class="blue">String</span> <span class="white">str2</span> <span class="pink">=</span> <span class="yellow">"World"</span><span class="orange">;</span>
            <span class="comment">// Comparing str1 and str2</span>
            <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">print</span><span class="orange">(</span><span class="white">str1</span> <span class="white">==</span> <span class="white">str2</span><span class="orange">);</span> <span class="comment">// output : false</span></code>
        </pre>
                </li>
                <hr />
                <li>
                  <h4>toUpperCase() and toLowerCase()</h4>
                  <p>
                    This Java code snippet initializes a
                    <code>String</code> variable <code>s</code> with the value
                    "Hello World!". It then utilizes two methods from the
                    <code>String</code> class to manipulate the case of the
                    string: - <strong>toUpperCase()</strong> is called to
                    convert all characters in <code>s</code> to uppercase,
                    resulting in the output "HELLO WORLD!". -
                    <strong>toLowerCase()</strong> is called to convert all
                    characters in <code>s</code> to lowercase, resulting in the
                    output "hello world!".
                  </p>
                  These methods are useful for standardizing the case of
                  strings, especially in scenarios where case-insensitive
                  comparisons are necessary.
                  <pre>
                    <code>
        <span class="blue">String</span> <span class="white">s</span> <span class="pink">=</span> <span class="yellow">"Hello World!"</span><span class="orange">;</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">s</span><span class="purple">.</span><span class="white">toUpperCase</span><span class="orange">());</span> <span class="comment">// Outputs: "HELLO WORLD!"</span>
        <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">s</span><span class="purple">.</span><span class="white">toLowerCase</span><span class="orange">());</span> <span class="comment">// Outputs: "hello world!"</span></code>
                  </pre>                  
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test2/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
