{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java built-in data structures</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Java's Built-in Data Structures</h1>
        <img src="{% static 'app/java.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are built-in Data Structures</h2>
          <p>
            In Java, built-in data structures are provided as part of the Java
            Collections Framework along with several other classes and
            interfaces that enable the management and organization of data.
            These data structures are optimized for performance and are
            fundamental to performing data manipulation tasks efficiently. Java
            provides a robust set of operations on these structures, such as
            adding, removing, sorting, and searching elements. Each data
            structure in Java is designed with specific characteristics that
            make it suitable for various data handling scenarios, ensuring that
            developers have the necessary tools to manage data effectively in a
            type-safe environment. This structured approach to data management
            allows for scalable and maintainable code in Java applications.
          </p>
        </section>
        <section>
          <h2>Why we use built-in Datastrures</h2>
          <p>
            There are several reasons why built-in data structures in Java are
            commonly used:
          </p>
          <ul>
            <li>
              <strong>Efficiency:</strong> Built-in data structures are
              optimized for performance, providing efficient implementations of
              common operations such as insertion, deletion, and search.
            </li>
            <li>
              <strong>Reliability:</strong> These data structures are thoroughly
              tested and widely used, reducing the risk of errors and ensuring
              reliable behavior in various scenarios.
            </li>
            <li>
              <strong>Compatibility:</strong> Java's built-in data structures
              are part of the standard library, ensuring compatibility across
              different Java platforms and versions.
            </li>
            <li>
              <strong>Abstraction:</strong> They offer high-level abstractions,
              allowing developers to focus on solving problems rather than
              implementing low-level data structure operations.
            </li>
            <li>
              <strong>Scalability:</strong> Many built-in data structures in
              Java are designed to scale well with the size of data, making them
              suitable for both small and large-scale applications.
            </li>
          </ul>
        </section>
        <section>
          <h2>Available Data Structures in Java</h2>
          <p><strong>1. ArrayList:</strong></p>
          <ul>
            <li>
              An ArrayList is a dynamic array that can grow or shrink in size.
            </li>
            <li>
              Use ArrayList when you need a resizable list and fast access to
              elements by index.
            </li>
            <li>Example:</li>
          </ul>
          <pre><code><span class="blue">ArrayList</span><<span class="blue">String</span>> <span class="white">list</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">ArrayList</span><><span class="orange">();</span>
<span class="white">list</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="yellow">"Apple"</span><span class="orange">);</span>
<span class="white">list</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="yellow">"Banana"</span><span class="orange">);</span>
<span class="blue">String</span> <span class="white">fruit</span> <span class="pink">=</span> <span class="white">list</span><span class="purple">.</span><span class="blue">get</span><span class="orange">(</span><span class="purple">0</span><span class="orange">);</span> <span class="comment">// Accessing element by index</span></code></pre>
          <p><strong>2. LinkedList:</strong></p>
          <ul>
            <li>LinkedList is a doubly-linked list implementation.</li>
            <li>
              Use LinkedList when you need fast insertion and deletion at the
              beginning, middle, or end of the list.
            </li>
            <li>Example:</li>
          </ul>
          <pre><code><span class="blue">LinkedList</span><<span class="blue">Integer</span>> <span class="white">list</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">LinkedList</span><><span class="orange">();</span>
<span class="white">list</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">10</span><span class="orange">);</span>
<span class="white">list</span><span class="purple">.</span><span class="blue">addFirst</span><span class="orange">(</span><span class="purple">5</span><span class="orange">);</span> <span class="comment">// Inserting at the beginning</span>
<span class="blue">int</span> <span class="white">firstElement</span> <span class="pink">=</span> <span class="white">list</span><span class="purple">.</span><span class="blue">getFirst</span><span class="orange">();</span> <span class="comment">// Retrieving the first element</span></code></pre>
          <p><strong>3. HashMap:</strong></p>
          <ul>
            <li>HashMap stores key-value pairs.</li>
            <li>Use HashMap when you need fast lookup based on keys.</li>
            <li>Example:</li>
          </ul>
          <pre><code><span class="blue">HashMap</span><<span class="blue">String</span><span class="white">,</span> <span class="blue">Integer</span>> <span class="white">map</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">HashMap</span><><span class="orange">();</span>
<span class="white">map</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"apple"</span><span class="white">,</span> <span class="purple">10</span><span class="orange">);</span>
<span class="white">map</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"banana"</span><span class="white">,</span> <span class="purple">5</span><span class="orange">);</span>
<span class="blue">int</span> <span class="white">quantity</span> <span class="pink">=</span> <span class="white">map</span><span class="purple">.</span><span class="blue">get</span><span class="orange">(</span><span class="yellow">"apple"</span><span class="orange">);</span> <span class="comment">// Retrieving value by key</span></code></pre>

          <p><strong>4. HashSet:</strong></p>
          <ul>
            <li>HashSet stores unique elements.</li>
            <li>
              Use HashSet when you need fast lookup and uniqueness of elements.
            </li>
            <li>Example:</li>
          </ul>
          <pre><code><span class="blue">HashSet</span><<span class="blue">String</span>> <span class="white">set</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">HashSet</span><><span class="orange">();</span>
<span class="white">set</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="yellow">"apple"</span><span class="orange">);</span>
<span class="white">set</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="yellow">"banana"</span><span class="orange">);</span>
<span class="blue">boolean</span> <span class="white">containsApple</span> <span class="pink">=</span> <span class="white">set</span><span class="purple">.</span><span class="blue">contains</span><span class="orange">(</span><span class="yellow">"apple"</span><span class="orange">);</span> <span class="comment">// Checking if set contains an element</span></code></pre>
          
          <p><strong>5. TreeMap:</strong></p>
          <ul>
            <li>
              TreeMap stores key-value pairs in a sorted order based on the
              keys.
            </li>
            <li>Use TreeMap when you need elements sorted by keys.</li>
            <li>Example:</li>
          </ul>
          <pre><code><span class="blue">TreeMap</span><<span class="blue">String</span><span class="white">,</span> <span class="blue">Integer</span>> <span class="white">map</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">TreeMap</span><><span class="orange">();</span>
<span class="white">map</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"apple"</span><span class="white">,</span> <span class="purple">10</span><span class="orange">);</span>
<span class="white">map</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"banana"</span><span class="white">,</span> <span class="purple">5</span><span class="orange">);</span>
<span class="blue">String</span> <span class="white">firstKey</span> <span class="pink">=</span> <span class="white">map</span><span class="purple">.</span><span class="blue">firstKey</span><span class="orange">();</span> <span class="comment">// Retrieving the first key</span></code></pre>
          
        </section>
        <section>
          <h1>Common Methods Related to Built-in Datastrures</h1>
          <h2>ArrayList</h2>
          <ul>
            <li>
              <strong>size()</strong>: Returns the number of elements in the
              list.
            </li>
            <li>
              <strong>add()</strong>: Appends the specified element to the end
              of the list.
            </li>
            <li>
              <strong>get()</strong>: Returns the element at the specified
              position in the list.
            </li>
            <li>
              <strong>remove()</strong>: Removes the element at the specified
              position in the list.
            </li>
          </ul>
          <p>Example:</p>
          <pre><code><span class="blue">import</span> <span class="white">java.util.ArrayList</span><span class="orange">;</span>

<span class="blue">ArrayList</span><<span class="blue">Integer</span>> <span class="white">myList</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">ArrayList</span><><span class="orange">();</span>
<span class="white">myList</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">3</span><span class="orange">);</span>
<span class="white">myList</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">1</span><span class="orange">);</span>
<span class="white">myList</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">4</span><span class="orange">);</span>

<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myList</span><span class="purple">.</span><span class="white">size</span><span class="orange">());</span>  <span class="comment">// Output: 3</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myList</span><span class="purple">.</span><span class="white">get</span><span class="orange">(</span><span class="purple">1</span><span class="orange">));</span>  <span class="comment">// Output: 1</span>
<span class="white">myList</span><span class="purple">.</span><span class="blue">remove</span><span class="orange">(</span><span class="purple">1</span><span class="orange">);</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myList</span><span class="orange">);</span>  <span class="comment">// Output: [3, 4]</span></code></pre>
          

          <h2>HashMap</h2>
          <ul>
            <li>
              <strong>size()</strong>: Returns the number of key-value mappings
              in the map.
            </li>
            <li>
              <strong>put()</strong>: Associates the specified value with the
              specified key in the map.
            </li>
            <li>
              <strong>get()</strong>: Returns the value to which the specified
              key is mapped, or null if this map contains no mapping for the
              key.
            </li>
            <li>
              <strong>remove()</strong>: Removes the mapping for the specified
              key from the map if present.
            </li>
          </ul>
          <p>Example:</p>
          <pre><code><span class="blue">import</span> <span class="white">java.util.HashMap</span><span class="orange">;</span>

<span class="blue">HashMap</span><<span class="blue">String</span><span class="white">,</span> <span class="blue">Integer</span>> <span class="white">myMap</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">HashMap</span><><span class="orange">();</span>
<span class="white">myMap</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"a"</span><span class="white">,</span> <span class="purple">1</span><span class="orange">);</span>
<span class="white">myMap</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"b"</span><span class="white">,</span> <span class="purple">2</span><span class="orange">);</span>
<span class="white">myMap</span><span class="purple">.</span><span class="blue">put</span><span class="orange">(</span><span class="yellow">"c"</span><span class="white">,</span> <span class="purple">3</span><span class="orange">);</span>

<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myMap</span><span class="purple">.</span><span class="white">size</span><span class="orange">());</span>  <span class="comment">// Output: 3</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myMap</span><span class="purple">.</span><span class="white">get</span><span class="orange">(</span><span class="yellow">"b"</span><span class="orange">));</span>  <span class="comment">// Output: 2</span>
<span class="white">myMap</span><span class="purple">.</span><span class="blue">remove</span><span class="orange">(</span><span class="yellow">"a"</span><span class="orange">);</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">myMap</span><span class="orange">);</span>  <span class="comment">// Output: {b=2, c=3}</span></code></pre>          

          <h2>HashSet</h2>
          <ul>
            <li>
              <strong>size()</strong>: Returns the number of elements in the
              set.
            </li>
            <li>
              <strong>add()</strong>: Adds the specified element to the set if
              it is not already present.
            </li>
            <li>
              <strong>contains()</strong>: Returns true if this set contains the
              specified element.
            </li>
            <li>
              <strong>remove()</strong>: Removes the specified element from the
              set if it is present.
            </li>
          </ul>
          <p>Example:</p>
          <pre><code><span class="blue">import</span> <span class="white">java.util.HashSet</span><span class="orange">;</span>

<span class="blue">HashSet</span><<span class="blue">Integer</span>> <span class="white">mySet</span> <span class="pink">=</span> <span class="blue">new</span> <span class="blue">HashSet</span><><span class="orange">();</span>
<span class="white">mySet</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">1</span><span class="orange">);</span>
<span class="white">mySet</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">2</span><span class="orange">);</span>
<span class="white">mySet</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">3</span><span class="orange">);</span>

<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">mySet</span><span class="purple">.</span><span class="white">size</span><span class="orange">());</span> <span class="comment"> // Output: 3</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">mySet</span><span class="purple">.</span><span class="white">contains</span><span class="orange">(</span><span class="purple">2</span><span class="orange">));</span>  <span class="comment">// Output: true</span>
<span class="white">mySet</span><span class="purple">.</span><span class="blue">remove</span><span class="orange">(</span><span class="purple">1</span><span class="orange">);</span>
<span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="white">mySet</span><span class="orange">);</span>  <span class="comment">// Output: [2, 3]</span></code></pre>
          
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test3/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
