{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java built-in data structures</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Conditional Statements in Java</h1>
        <img src="{% static 'app/java.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are Conditional Statements</h2>
          <p>
            <strong>Conditional statements</strong> in Java are used to perform
            different actions based on different conditions. They allow the code
            to make decisions and execute certain parts of code only when
            specific conditions are met. Here are the main types of conditional
            statements in Java:
          </p>
          <ul>
            <li>
              <strong>1. if statement: </strong> Checks a condition and executes
              a block of code if the condition is true.
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">condition</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if condition is true</span>
<span class="orange">}</span></code></pre>
            </li>
            <li>
              <strong>2. if-else statement:</strong> Checks a condition and
              executes the first block of code if the condition is true,
              otherwise executes another block of code.
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">condition</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if condition is true</span>
<span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if condition is false</span>
<span class="orange">}</span></code></pre>
              
            </li>
            <li>
              <strong>3. else-if ladder:</strong> A series of conditions to be
              checked in sequence.
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">condition1</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if condition1 is true</span>
<span class="orange">}</span> <span class="pink">else if</span> <span class="orange">(</span><span class="white">condition2</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if condition2 is true</span>
<span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
  <span class="comment">// code to be executed if all previous conditions are false</span>
<span class="orange">}</span></code></pre>
              
            </li>
            <li>
              <strong>4. switch statement:</strong> Specifies many alternative
              blocks of code to be executed. The switch statement is often more
              efficient than a set of nested if statements when dealing with
              multiple conditions on the same variable.
              <pre><code><span class="pink">switch</span> <span class="orange">(</span><span class="white">expression</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="pink">case</span> <span class="white">value1</span><span class="orange">:</span>
    <span class="comment">// code to be executed when expression equals value1</span>
    <span class="pink">break</span><span class="orange">;</span>
  <span class="pink">case</span> <span class="white">value2</span><span class="orange">:</span>
    <span class="comment">// code to be executed when expression equals value2</span>
    <span class="pink">break</span><span class="orange">;</span>
  <span class="pink">default</span><span class="orange">:</span>
    <span class="comment">// code to be executed if expression doesn't match any case</span>
<span class="orange">}</span></code></pre>
              
            </li>
          </ul>
        </section>
        <section>
          <h2>When To Use Conditional Statements</h2>
          <p>
            <strong>Conditional statements</strong> are essential in programming
            for controlling the flow of execution based on specific conditions.
            Here are some common scenarios when you might use conditional
            statements:
          </p>
          <ul>
            <li>
              <strong>Decision Making:</strong> Perform actions based on
              specific conditions or inputs, such as checking user authorization
              before accessing features.
            </li>
            <li>
              <strong>Handling Different Cases:</strong> Execute different
              blocks of code for various cases or scenarios, like calculating
              discounts based on the quantity purchased.
            </li>
            <li>
              <strong>Input Validation:</strong> Ensure that inputs meet certain
              criteria before proceeding, such as verifying that values are
              within an expected range.
            </li>
            <li>
              <strong>Branching Logic:</strong> Direct program execution along
              different paths based on variable states or user choices, such as
              selecting operation modes.
            </li>
            <li>
              <strong>Error Handling:</strong> Manage errors or unusual
              situations gracefully through conditional checks.
            </li>
          </ul>
        </section>
        <section>
          <h2>Keywords Related to Conditional Statements in Java</h2>
          <p>
            Conditional statements in Java determine which segments of code get
            executed based on the evaluation of Boolean expressions. Here are
            essential keywords and concepts related to conditional logic in
            Java:
          </p>
          <ul>
            <li>
              <span class="keyword">if</span> - Executes a block of code if the specified
              condition is true.
            </li>
            <li>
              <span class="keyword">else</span> - Used to execute an alternate block of code if
              the condition in the <span class="keyword">if</span> statement is false.
            </li>
            <li>
              <span class="keyword">else if</span> - Provides a new condition to test if the
              previous condition was false.
            </li>
            <li>
              <span class="keyword">switch</span> - Executes one block of code among many
              options based on the value of a variable. Often used as an
              efficient alternative to multiple <span class="keyword">if</span> statements.
            </li>
            <li>
              <span class="keyword">case</span> - Used within a <span class="keyword">switch</span> statement to
              specify a block of code to be executed.
            </li>
            <li>
              <span class="keyword">default</span> - Used within a <span class="keyword">switch</span> statement
              to specify the default block of code that is executed when no
              <span class="keyword">case</span> matches.
            </li>
            <li>
              <span class="keyword">break</span> - Used to exit a <span class="keyword">switch</span> case
              block, preventing the execution of subsequent
              <span class="keyword">case</span> blocks.
            </li>
            <li>
              <span class="keyword">?:</span> (ternary operator) - A shorthand for
              <span class="keyword">if-else</span>, which is used to assign or return a value
              based on a condition.
            </li>
            <li>
              <span class="keyword">instanceof</span> - Checks whether an object is an instance
              of a specific class or implements an interface.
            </li>
          </ul>
        </section>
        <section>
          <h2>Examples of Using Conditional Statements in Java</h2>
          <ul>
            <li>
              <strong>if statement</strong>
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">score</span> <span class="white">&gt;=</span> <span class="purple">70</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Passed!"</span><span class="orange">);</span>
<span class="orange">}</span></code></pre>
            </li>
            <li>
              <strong>if-else statement</strong>
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">age</span> <span class="white">&lt;</span> <span class="purple">18</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"You are a minor."</span><span class="orange">);</span>
<span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"You are an adult."</span><span class="orange">);</span>
<span class="orange">}</span></code></pre>              
            </li>
            <li>
              <strong>else-if ladder</strong>
              <pre><code><span class="pink">if</span> <span class="orange">(</span><span class="white">grade</span> <span class="white">&gt;=</span> <span class="purple">90</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Grade A"</span><span class="orange">);</span>
<span class="orange">}</span> <span class="pink">else if</span> <span class="orange">(</span><span class="white">grade</span> <span class="white">&gt;=</span> <span class="purple">80</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Grade B"</span><span class="orange">);</span>
<span class="orange">}</span> <span class="pink">else if</span> <span class="orange">(</span><span class="white">grade</span> <span class="white">&gt;=</span> <span class="purple">70</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Grade C"</span><span class="orange">);</span>
<span class="orange">}</span> <span class="pink">else</span> <span class="orange">{</span>
  <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Grade F"</span><span class="orange">);</span>
<span class="orange">}</span></code></pre>
            </li>
            <li>
              <strong>switch statement</strong>
              <pre><code><span class="pink">switch</span> <span class="orange">(</span><span class="white">day</span><span class="orange">)</span> <span class="orange">{</span>
  <span class="pink">case</span> <span class="purple">1</span><span class="orange">:</span>
    <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Monday"</span><span class="orange">);</span>
    <span class="pink">break</span><span class="orange">;</span>
  <span class="pink">case</span> <span class="purple">2</span><span class="orange">:</span>
    <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Tuesday"</span><span class="orange">);</span>
    <span class="pink">break</span><span class="orange">;</span>
  <span class="pink">case</span> <span class="purple">3</span><span class="orange">:</span>
    <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Wednesday"</span><span class="orange">);</span>
    <span class="pink">break</span><span class="orange">;</span>
  <span class="pink">default</span><span class="orange">:</span>
    <span class="white">System</span><span class="purple">.</span><span class="white">out</span><span class="purple">.</span><span class="white">println</span><span class="orange">(</span><span class="yellow">"Another day"</span><span class="orange">);</span>
<span class="orange">}</span></code></pre>
              
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <div class="center">
          <button
            class="test"
            role="button"
            onclick="location.href='../test4/'"
          >
            Take a Test
          </button>
        </div>
      </footer>
    </div>
  </body>
</html>
