{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to Java</title>
    <link rel="stylesheet" href="{% static 'app/intro.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Java Introduction</h1>
        <img src= "{% static 'app/java.png' %}" alt="java logo" />
      </header>
      <main>
        <section id="introduction">
          <h2>What is Java?</h2>
          <p>
            <strong>Java</strong> is a high-level, class-based, object-oriented
            programming language that is designed to have as few implementation
            dependencies as possible. It is a general-purpose programming
            language intended to let application developers write once, run
            anywhere (WORA), meaning that compiled Java code can run on all
            platforms that support Java without the need for recompilation. Java
            applications are typically compiled to bytecode that can run on any
            Java virtual machine (JVM) regardless of the underlying computer
            architecture. Key features of Java include:
            <li>
              <strong>Object-Oriented:</strong> Everything in Java is associated
              with objects and classes, following the concepts of
              object-oriented programming (OOP) such as inheritance,
              encapsulation, polymorphism, and abstraction.
            </li>
            <li>
              <strong>Platform-Independent:</strong> Java code is compiled into
              bytecode, which can be executed on any device equipped with a JVM,
              This makes Java applications highly portable.
            </li>
            <li>
              <strong>Robust and Secure:</strong> Java offers strong memory
              management and built-in mechanisms to handle exceptions, making it
              robust.
            </li>
            <li>
              <strong>Security:</strong> Its secure execution environment and
              lack of explicit pointer access add to its security.
            </li>
            <li>
              <strong>Multithreaded:</strong> Java supports multithreaded
              programming, which allows the concurrent execution of two or more
              parts of a program for maximum utilization of CPU.
            </li>
            <li>
              <strong>Rich Standard Library</strong>: Java provides a
              comprehensive standard library (Java API) that covers everything
              from basic data structures to networking and graphical user
              interface (GUI) development.
            </li>
            Java is widely used in web applications, mobile applications
            (especially Android apps), enterprise and server-side applications,
            and more.
          </p>
        </section>
        <section id="capabilities">
          <h2>What can Java do?</h2>
          <p>
            <strong>Java</strong> is capable of powering a variety of
            applications across different platforms. Here are some of the key
            capabilities of Java:
          </p>

          <ul>
            <li>
              <strong>Desktop Applications</strong>: Java can be used to develop
              graphical user interface (GUI) applications using Swing and
              JavaFX. These applications can run on any operating system that
              has a Java Runtime Environment (JRE).
            </li>
            <li>
              <strong>Web Applications</strong>: Java is extensively used in the
              backend development of web applications. Frameworks like Spring,
              Hibernate, and Struts enable the development of robust, scalable
              web applications.
            </li>
            <li>
              <strong>Mobile Applications</strong>: Java is the main programming
              language for developing Android applications. The Android SDK,
              along with Java, provides a rich set of libraries for building
              mobile apps with various functionalities.
            </li>
            <li>
              <strong>Enterprise Solutions</strong>: Java Enterprise Edition
              (Java EE) offers a platform for developing large-scale, secure,
              reliable, and scalable enterprise applications. It supports
              technologies like Servlets, Java Server Pages (JSP), and
              Enterprise JavaBeans (EJB).
            </li>
            <li>
              <strong>Cloud-based Applications</strong>: Java is widely used in
              cloud application development, offering portability and
              scalability. Cloud service providers like Amazon Web Services
              (AWS), Google Cloud Platform (GCP), and Microsoft Azure support
              Java-based applications.
            </li>
            <li>
              <strong>Scientific Computing</strong>: Java is used in scientific
              computing, including complex mathematical operations, simulations,
              and data analysis. Libraries such as Apache Commons Math and JSci
              provide tools for scientific and numerical computing.
            </li>
            <li>
              <strong>Embedded Systems</strong>: Java can be used in embedded
              systems, ranging from consumer devices to sophisticated systems in
              industries like telecommunications and automobiles. Java ME (Micro
              Edition) is designed for resource-constrained environments.
            </li>
            <li>
              <strong>Game Development</strong>: Java is used in game
              development, particularly for Android games and desktop games.
              Libraries like Lightweight Java Game Library (LWJGL) enable the
              creation of high-performance games.
            </li>
          </ul>
          <p>
            These capabilities make Java a preferred choice for developers in
            various domains, offering cross-platform compatibility, security,
            and robustness.
          </p>
        </section>
        <section id="importance">
          <h2>Why Learn Java?</h2>
          <p>
            <strong>Java</strong> offers several advantages that make it a
            preferred choice for developers and organizations across various
            industries. Here are some key reasons:
          </p>

          <ul>
            <li>
              <strong>Write Once, Run Anywhere (WORA)</strong>: Java
              applications are portable across platforms. A Java application can
              be run on any device that has the Java Virtual Machine (JVM),
              making it extremely versatile.
            </li>
            <li>
              <strong>Strong Memory Management</strong>: Java handles memory
              allocation and deallocation automatically with its garbage
              collection, reducing the risk of memory leaks and other
              memory-related errors.
            </li>
            <li>
              <strong>Rich API</strong>: Java provides a comprehensive standard
              library (Java API) that covers a wide range of utilities from
              basic data structures to networking and graphical user interface
              (GUI) components.
            </li>
            <li>
              <strong>High Security</strong>: Java offers a secure execution
              environment with its runtime checking and sandboxing capabilities,
              making it suitable for network and web-based applications.
            </li>
            <li>
              <strong>Robust Community Support</strong>: With millions of
              developers and a vast ecosystem of libraries and frameworks, Java
              offers extensive resources for learning and development, ensuring
              developers have support for any challenge they face.
            </li>
            <li>
              <strong>Scalability and Performance</strong>: Java's performance
              is exceptional, especially in large-scale applications. Java
              applications can handle vast amounts of data and high transaction
              rates, making it ideal for enterprise environments.
            </li>
            <li>
              <strong>Object-Oriented Programming (OOP)</strong>: Java's OOP
              model simplifies software development and maintenance by promoting
              cleaner, more modular code that supports reusable components.
            </li>
            <li>
              <strong>Multi-threading</strong>: Java's built-in support for
              multi-threading allows developers to build highly responsive and
              interactive applications with concurrent threads of execution.
            </li>
          </ul>

          <p>
            These features, combined with ongoing enhancements and updates to
            the Java platform, ensure that Java remains a powerful, modern
            language suitable for a wide range of programming needs.
          </p>
        </section>
        <section id="getting-started">
          <h2>Getting Started with Java</h2>
          <p>To begin programming with Java, you need to follow these steps:</p>

          <ol>
            <li>
              <strong>Install the Java Development Kit (JDK)</strong>: Download
              and install the JDK from Oracle's official website. The JDK
              includes the Java Runtime Environment (JRE) and the compilers and
              tools needed to compile and run Java applications.
            </li>
            <li>
              <strong>Set Up the Environment Variables</strong>: After
              installation, set the JAVA_HOME environment variable to your JDK
              installation directory and update the PATH variable to include the
              bin directory of the JDK. This step is crucial for running Java
              commands from the command line.
            </li>
            <li>
              <strong>Choose a Development Environment</strong>: While you can
              write Java code in any text editor, using an Integrated
              Development Environment (IDE) like Eclipse, IntelliJ IDEA, or
              NetBeans can significantly enhance your productivity. These IDEs
              provide code completion, debugging, and other helpful features.
            </li>
            <li>
              <strong>Write Your First Java Program</strong>: Start with a
              simple program. Create a file named <code>Main.java</code> and
              write the following code inside it:<br />
              
              <pre>
                <code>
                  <span class="pink">public class </span><span class="green">Main</span> {
                    <span class="pink">public static </span><span class="blue">void</span> <span class="green">main</span><span class="purple">(</span><span class="green">String</span><span class="blue">[]</span> <span class="orange">args</span><span class="purple">) {</span>
                      <span class="green">System</span><span class="white">.out.</span><span class="green">println</span><span class="blue">(</span><span class="yellow">"Hello, world!"</span><span class="blue">)</span><span class="white">;</span>
                    <span class="purple">}</span>
                  <span class="yellow">}</span></code>
              </pre>
              This program prints "Hello, world!" to the console, a traditional
              way to begin learning a new programming language.
            </li>
            <li>
              <strong>Compile and Run Your Program</strong>: Open your command
              line or terminal, navigate to the directory containing your
              program, and execute the <code>javac Main.java</code> command to
              compile it. Once compiled, run your program using the
              <code>java Main</code> command. You should see "Hello, world!"
              printed on your screen.
            </li>
          </ol>

          <p>
            Following these steps, you can begin exploring more complex
            programming concepts and start building your own Java applications.
          </p>
        </section>
      </main>
    </div>
  </body>
</html>
