/* Global styles */
*{
  box-sizing: border-box; /* Box model */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

/* Body styles */
body{
  background:#e9ebee; /* Background color */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height:100vh; /* Full viewport height */
  font-family: sans-serif; /* Default font family */
}

/* Container styles */
.container{
  width: 80%; /* Width of container */
  margin: auto; /* Center container horizontally */
  padding: 20px; /* Padding */
  height:100%; /* Full height */
  border-radius: 20px; /* Rounded corners */
}

.right{
  width: 70%; /* Width of right column */
}
.left{
  width: 30%; /* Width of left column */
}

/* Login style */
.left{
  float: left; /* Float left for left column */
  background-image: linear-gradient(135deg, #4fb3cf, #50b96f); /* Gradient background */
  height: 100%; /* Full height */
  color:#fff; /* Text color */
  text-align: center; /* Center text */
  padding: 100px 0; /* Padding */
  border-radius: 20px 0 0 20px; /* Rounded corners */
}

.left p{
  margin-bottom: 40px; /* Bottom margin for paragraphs */
  font-size: 20px; /* Font size for paragraphs */
  margin: 0px 10px 30px; /* Margin */
}

.right{
  float:right; /* Float right for right column */
  background-color: #fafafa; /* Background color */
  height: 100%; /* Full height */
  text-align: center; /* Center text */
  padding-top: 10px; /* Padding top */
  border-radius: 0 20px 20px 0; /* Rounded corners */
}

/* Shared styles */
*{
  font-family:Gill Sans, sans-serif; /* Default font family */
  list-style: none; /* Remove list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margins */
}

h3{
  margin: 5px; /* Margin for h3 elements */
}

.skill{
  width: 500px; /* Width of skill element */
  margin: auto; /* Center horizontally */
  color: rgb(42, 108, 108); /* Text color */
  padding: 20px; /* Padding */
  border: 2px solid #64ce84; /* Border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); /* Box shadow */
}  

.skill li{
  margin: 20px 0; /* Margin */
  padding: 10px; /* Padding */
}

.bar{
  background:#353b48; /* Background color */
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, 8,.25,1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0, 0, 0.25), 0 0 10px 10px 10px 10px rgba(0, 0, 0, 0, 0, 0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, #4fb3cf, #50b96f);
}

/* Animation keyframes */
.python{
  width: 90%;
  animation: python 3s;
}
.java{
  width: 50%;
  animation: java 3s;
}
.javascript{
  width: 45%;
  animation: javascript 3s;
}
.total{
  width: 60%;
  animation: total 3s;
}

/* Keyframe animations */
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 45%;
  }
}

@keyframes total{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
.right {
  position: relative; 
}

/* Profile button styles */
.edit-profile, .delete-profile, .edit-password {
  background-color:  rgb(42, 108, 108);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 30px; 
  font-size: 16px;
  cursor: pointer;
  width: 170px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.delete-profile{
  background-color: red;
}

/* Profile picture styles */
.profile-pic {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -50px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; 
}

.upload-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.upload-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.plus-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #61b8da;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

/* Title styles */
.title{
  color: rgb(42, 108, 108);
  margin-bottom: 25px;
}

/* Container styles */
.container{
  border-radius: 10px; /* Rounded corners */
}

/* See  styles */
.see{
  border: 1px white solid; /* Border */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center text */
  padding: 10px; /* Padding */
}
.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #4fb3cf, #50b96f); /* Red background with some transparency */
  padding: 20px;
  border-radius: 10px;
  z-index: 999; /* Ensure it appears above other content */
}

.war-btn {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.war-btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.war-btn:hover {
  color: white;
}

.war-btn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.war-btn:hover::before {
  top: -30px;
  left: -30px;
}

.yes {
  --color: red;
}

.conf-text {
  margin-top: 10px;
}