* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.up {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #111827;
  /* margin-bottom: 130px; */
}
.upH1 {
  font-size: 50px;
  color: #ffffff;
  margin: 30px 0;
}
.upP {
  font-size: 25px;
  color: silver;
  margin: 30px 0;
}
.btn {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4f46e5;
  border: solid 2px #4f46e5;
  margin: 30px 0;
  cursor: pointer;
  font-size: 25px;
}
.btn:hover {
  background-color: #ffffff;
  color: #111827;
  border: solid white 2px;
}
.middle {
  /* margin-top: 10px; */
  /* margin-bottom: 90px; */
  text-align: center;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1M {
  font-size: 50px;
  margin: 30px 0;
}
.p-m {
  font-size: 25px;
  margin: 30px 100px;
  color: #606366;
}
.carts {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 35px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  /* margin: 10px 30px; */
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  /* margin: 30px 15px; */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 8px 12px rgba(174, 178, 183, 0.5);
  position: relative;
  /* height: 250px; */
  /* width: 350px; */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 16px rgba(79, 70, 229, 0.5);
}

.cart h2 {
  color: #4f46e5;
  margin-bottom: 10px;
}

.p-cart {
  color: #606366;
  line-height: 1.5;
  margin: 15px 0;
  padding: 0 5px;
}

.p-cart strong {
  color: #4f46e5;
}

.cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #4f46e5, #6b63ff, #4f46e5);
  background-size: 400% 400%;
  z-index: -1;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.cart:hover::before {
  opacity: 0.1;
  transform: scale(1.1);
}
h2 {
  margin-bottom: 10px;
}
.col {
  display: flex;
}
.slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.h1low {
  font-size: 50px;
  margin: 30px 0;
}
.plow {
  font-size: 25px;
  margin: 30px 100px;
  color: #606366;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #111827;
  display: flex;
  align-items: center;
  /* padding: 0 70px; */
}
.pf {
  color: silver;
  font-size: 20px;
}
.pfcnt {
  justify-content: space-between;
  position: fixed;
  left: 2vw;
}
@media screen and (max-width: 775px) {
  .pf {
      display: none;
  }
}
@media screen and (max-width: 1020px){
  .pipe {
    visibility: hidden;
  }
}

.nav {
  justify-content: space-between;
  position: fixed;
  right: 2vw;
}

a {
  text-decoration: none;
  color: silver;
  font-size: 20px;
}

.nav > * {
  margin: 15px;
}
.low-l {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 162vh; */
  background-color: #111827;
  margin-bottom: 60px;
  overflow-x: hidden;
}
.h1Aboutus {
  font-size: 50px;
  color: white;
  margin-top: 15px;
}
.pAboutus,
.pContactus {
  font-size: 30px;
  color: silver;
  margin: 30px 50px;
}
.line {
  margin: 20px 0;
  border: 2px solid silver;
  width: 80%;
  display: inline-block;
}
.ContactUs {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
input {
  font-size: 20px;
  padding: 0 20px;
  height: 50px;
  width: 200px;
  margin: 20px 0;
  border-radius: 10px;
  border: white solid 2px;
}
input::placeholder {
  font-size: 20px;
  padding-left: 10px;
}
.h1contactus {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}
.h2crew {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}
.inputmessage {
  height: 100px;
  width: 400px;
  margin: 20px 0;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}


.testimonial-slider {
  width: 61.5vw;
  /* max-width: 702px; */
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  justify-content: center;
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.cmt {
  position: relative;
  text-align: center;
  justify-content: center;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.slide p {
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  margin: 20px 0;
}

.slide h3 {
  font-size: 1rem;
  color: #333;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 61.5vw;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s ease;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.testemony-container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.comment-container {
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
}

.comment-form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 44vw;
}
.comment-form h2 {
  margin-top: 0;
}
.comment-form .form-group {
  margin-bottom: 15px;
}
.comment-form .form-group label {
  display: block;
  margin-bottom: 5px;
}
.comment-form .form-group input,
.comment-form .form-group textarea {
  font-size: 20px;
  width: calc(100% - 20px); /* full width minus the padding  */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-form .form-group textarea {
  resize: vertical;
  height: 60px;
}
.submit {
  text-align: center;
}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  background-image: linear-gradient(135deg, #4F46F6, #4F468B);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  top: 8px;
  margin-right: 9px;
  margin-left: 9px;
}

.button-29:focus {
  box-shadow: #4F46F6 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.alert {
  opacity: 1;
  transition: opacity 1s;
}
.message {
  width: 50vw;
  padding: 20px 20px;
  top: 50px;
  background-color: #ffffff;
  /* padding: 20px 140px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
}
.message h1 {
  font-size: 24px;
  margin: 0 0 10px;
}
.message p {
  color: #555555;
  font-size: 18px;
  margin: 0;
}
.success h1,
.info h1,
.error h1 {
  color: #28a745;
}
.success,
.info,
.error {
  border: 2px solid #28a745;
}
/* .error {
  border: 2px solid #dc3545;
} */
/* .error h1{
  color: #dc3545;
} */
.warning {
  border: 2px solid #ffc107;
}
.warning h1 {
  color: #ffc107;
}
.flex {
  display: flex;
  justify-content: center;
}
#email {
  width: 300px;
}
#message-area {
  font-size: 20px;
  width: 140%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  height: 80px;
  padding-top: 17px;
  margin-top: 19px;
}
.maillink {
  color: #0075ff;
  font-weight: bold;
  padding: 25px;
  font-size: 25px;
  white-space: nowrap;
}
.mail {
  color: #f1f1f1;
  font-size: 22px;
}



@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pipe{
  color:white;
}
.github {
  /* position:absolute; */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.gitdiv{
  text-align: center;
  padding: 7px;
  background-color: #f8f9fa;
  width: 100vw;
  /* margin-top: 73px; */
}
.crew {
  margin-bottom: 20px;
}
.mails{
  word-break: break-word;
}
@media screen and (max-width: 750px) {
  .message {
    width: 90vw;
  }
  .comment-form {
    width: 61.5vw;
    padding-bottom: 17px;
  }
  .comment-form .form-group {
    margin-bottom: 0;
}
}
@media screen and (min-width: 1673px) {
  .carts {
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  }
}