body {
  font-family: "Arial", sans-serif;
  /* font-family: Verdana, sans-serif; */
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #333;
}
#quiz-container {
  margin: 12px;
  width: 820px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #4f46e5;
  text-align: center;
}
.question{
  padding: 0 0 30px 0;
}
.question h2 {
  padding: 10px;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}
/* label {
  margin-left: 10px;
  font-size: 16px;
  color: #666;
} */
label{
  padding: 3px;
  background-color: #E7E9EB;
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.take-test {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.take-test:hover {
  background-color: #4F46A0;
}

.radio-label {
  background-color: #E7E9EB;
  display: block;
  position: relative;
  padding: 10px 20px 10px 25px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  margin: 2px;
  border: 1px solid #ccc;
} 


/* Default style */
.radio-label:not(.selected) {
  background-color: #f0f0f0;
  color: #333;
}

/* Change label color when the corresponding radio input is checked */
input[type="radio"]:checked + .radio-label {
  background-color: #4f46e5; 
  color: #fff;
}
  .radio-label:hover{
    background-color: #dcdbdb;
  }