{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/home.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="up">
      <h1 class="upH1">Learning Made Fun</h1>
      <p class="upP">
        Explore our comprehensive courses and transform your career.
      </p>
      <button class="btn" onclick="window.location.href='/main'">
        Explore courses
      </button>
    </div>
    <div class="midlle">
      <h1 class="h1M">Learning Made Fun</h1>
      <p class="p-m">
        A definition of the most common and widely used programming languages.
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Python</h2>
          <p class="aa">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
        <div class="cart">
          <h2>C++</h2>
          <p class="p-cart">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
        <div class="cart">
          <h2>React</h2>
          <p class="p-cart">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
        <div class="cart">
          <h2>Css</h2>
          <p class="p-cart">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
        <div class="cart">
          <h2>Java</h2>
          <p class="p-cart">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
        <div class="cart">
          <h2>Python</h2>
          <p class="p-cart">
            Explore the versatile Python language and learn to build
            applications, automate tasks, and more.
          </p>
        </div>
      </div>
    </div>
    <div class="center">
      <h1 class="h1low">What Our Students Say</h1>
      <p class="plow">
        Hear from our students about their learning experiences and how our
        courses have impacted their careers.
      </p>
    </div>
    <div class="testemony-container">
      <div class="testimonial-slider">
        <div class="slider">
          {% for comment in comments %}
          <div class="slide">
            <img src="{{ comment.profile_pic }}" alt="" />
            <p>{{comment.content}}</p>
            <h3>{{ comment.user_id }}</h3>
          </div>
          {% endfor %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              document.querySelectorAll(".slide")[0].classList.add("active");
            });
          </script>
        </div>
        <div class="navigation">
          <button class="prev">❮</button>
          <button class="next">❯</button>
        </div>
      </div>
    </div>

    <div class="comment-container">
      <div class="comment-form">
        <h2>Leave a Comment</h2>
        <form action="{% url 'app-home' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
          </div>
          <div class="form-group submit">
            <button class="button-29" role="button" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="low-l">
      <h1 class="h1Aboutus">About us</h1>
      <p class="pAboutus">
        A website for learning programming typically serves as a comprehensive
        online hub where aspiring programmers can access structured lessons,
        practice coding challenges, engage in interactive coding exercises, and
        often participate in a community of fellow learners and mentors. These
        platforms cater to learners of all levels, from absolute beginners to
        advanced coders, covering a wide range of programming languages,
        concepts, and technologies.
      </p>
      <hr class="line" />
      <form id="contact" class="ContactUs">
        <h1 class="h1contactus">Contact Us</h1>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="email" placeholder="Email" />
        <input class="inputmessage" type="text" placeholder="Message" />
        <button class="btn button-29">Send</button>
      </form>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved.</p>
      <div class="nav">
        {% if not user.is_authenticated %}
        <a href="{% url 'user-login' %}">Login</a>
        <a href="{% url 'user-register' %}">Register</a>
        {% endif %}
        <a href="{% url 'app-main' %}">Courses</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user-profile' %}">Profile</a>
        <a href="{% url 'user-logout' %}">Logout</a>
        {% endif %}
      </div>
    </div>
    <script src="{% static 'app/slide.js' %}"></script>
  </body>
</html>
