{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="top">
  <div class="logo">Learning Made Fun</div>
  <div class="nav">
    {% if not user.is_authenticated %}
    <a href="{% url 'app-login' %}"> Login </a>
    <a href="{% url 'app-register' %}"> Register </a>
    {% endif %}
    <a href=""> Contact us </a>
    <a href=""> About us </a>
    {% if user.is_authenticated %}
    <!-- <a href="{% url 'app-logout' %}"> Logout </a> -->
    <button class="Btn" onclick="location.href='/logout'">
      <div class="sign">
        <svg viewBox="0 0 512 512">
          <path
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
          ></path>
        </svg>
      </div>
      <div class="text">Logout</div>
    </button>
    {% endif %}
  </div>
</div>
<div class="heading">
  <div class="left">
    <p class="oswald-font">Do you want to learn programming?</p>
    <p class="oswald-font" style="font-size: x-large">
      You are in the right place
    </p>
    <h2>Don't Wait</h2>
    <button class="cssbuttons-io-button" onclick="location.href='/main'">
      Get started
      <div class="icon">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </button>
  </div>
  <img src="{% static 'app/web.png' %}" alt="" class="right" />
</div>
{% endblock %}
