{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/home.css' %}" />
    <title>Home</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <script src="{% static 'app/appHide.js' %}"></script>
    <div class="flex alert">
      <div class="message {{message.tags}}">
        {% if message.message == "changed" %}
        <h1>Password Changed</h1>
        <p>Your password has been changed successfully!</p>
        {% elif message.tags == "success" %}
        <h1>Logged out</h1>
        {% elif message.tags == "info" %}
        <h1>Deleted</h1>
        {% elif message.tags == "error" %}
        <h1>Commented</h1>
        {% else %}
        <h1>{{ message.tags }}</h1>
        {% endif %} {% if message.message != 'changed' %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </div>
    <script>
      hideMessage();
    </script>
    {% endfor %} {% endif %}
    <div class="up">
      <h1 class="upH1">Learning Made Fun</h1>
      <p class="upP">
        Explore our comprehensive courses and transform your career.
      </p>
      <button class="btn" onclick="window.location.href='/main'">
        Explore courses
      </button>
    </div>
    <div class="midlle">
      <!-- <h1 class="h1M">Learning made fun</h1> -->
      <p class="p-m">
        A definition of the most common and widely used programming languages.
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Python</h2>
          <p class="p-cart">
            <strong>Python</strong> is a high-level,
            <strong>interpreted</strong> programming language known for its
            readability and versatility, commonly used for
            <strong>web development</strong>, <strong>data analysis</strong>,
            <strong>artificial intelligence</strong>, and
            <strong>scientific computing</strong>
          </p>
        </div>
        <div class="cart">
          <h2>JavaScript</h2>
          <p class="p-cart">
            <strong>JavaScript</strong> is a dynamic, high-level programming
            language primarily used for
            <strong
              >enhancing the interactivity and functionality of web
              pages</strong
            >, and is an essential part of web development alongside
            <strong>HTML</strong> and <strong>CSS</strong>
          </p>
        </div>
        <div class="cart">
          <h2>Java</h2>
          <p class="p-cart">
            <strong>Java</strong> is a <strong>class-based</strong>,
            object-oriented programming language designed to have as few
            implementation dependencies as possible, making it ideal for
            developing platform-independent applications
          </p>
        </div>
        <div class="cart">
          <h2>C</h2>
          <p class="p-cart">
            <strong>C</strong> is a general-purpose,
            <strong>procedural programming language</strong> that provides
            <strong>low-level</strong> access to memory and is widely used for
            <strong>system programming</strong>,
            <strong>developing operating systems</strong>, and
            <strong>embedded systems</strong> due to its
            <strong>efficiency</strong> and control over hardware resources
          </p>
        </div>
        <div class="cart">
          <h2>C++</h2>
          <p class="p-cart">
            <strong>C++</strong> is an extension of the
            <strong>C programming</strong> language that includes
            <strong>object-oriented</strong> features, making it suitable for
            <strong>software development</strong> that requires complex data
            structures, real-time processing, and performance-critical
            applications
          </p>
        </div>
        <div class="cart">
          <h2>SQL</h2>
          <p class="p-cart">
            <strong>SQL (Structured Query Language)</strong> is a standard
            language for managing and manipulating
            <strong>relational databases</strong>, allowing users to
            <strong>query</strong>, <strong>update</strong>,
            <strong>insert</strong>, and <strong>delete</strong> data with
            commands that are both expressive and powerful
          </p>
        </div>
      </div>
    </div>
    <div class="center">
      <h1 class="h1low">What Our Students Say</h1>
      <p class="plow">
        Hear from our students about their learning experiences and how our
        courses have impacted their careers.
      </p>
    </div>
    <div class="testemony-container">
      <div class="testimonial-slider">
        <div class="slider">
          {% for comment in comments %}
          <div class="slide">
            {% if comment.profile_pic %}
            <img src="{{ comment.profile_pic }}" alt="profile picture" />
            {% else %}
            <img src="{% static 'users/default.jpg' %}" alt="profile picture" />
            {% endif %}
            <p>{{comment.content}}</p>
            <h3>- {{ comment.user_id }}</h3>
          </div>
          {% endfor %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              document.querySelectorAll(".slide")[0].classList.add("active");
            });
          </script>
        </div>
        <div class="navigation">
          <button class="prev">❮</button>
          <button class="next">❯</button>
        </div>
      </div>
    </div>

    <div class="comment-container">
      <div class="comment-form">
        <h2>Leave a Comment</h2>
        <form action="{% url 'app-home' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
          </div>
          <div class="form-group submit">
            <button class="button-29" role="button" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="low-l">
      <h1 class="h1Aboutus">About us</h1>
      <p class="pAboutus">
        A website for learning programming typically serves as a comprehensive
        online hub where aspiring programmers can access structured lessons,
        practice coding challenges, engage in interactive coding exercises, and
        often participate in a community of fellow learners and mentors. These
        platforms cater to learners of all levels, from absolute beginners to
        advanced coders, covering a wide range of programming languages,
        concepts, and technologies.
      </p>
      <hr class="line" />
      <div id="contact">
        <h1 class="h1contactus">Contact Us</h1>
        <p class="pContactus">
          If you want to report an error, or if you want to make a suggestion,
          or if you have any questions, you can send us an e-mail at:
        </p>
        <a class="maillink" href="mailto:aminesdrt42@gmail.com"
          >aminesdrt42@gmail.com</a
        >
        <br><br><hr class="line"/>
        <!-- <p class="pContactus">Learning made fun crew:</p> -->
        <h2 class="h2crew">learning made fun crew</h2>
        <a class="maillink" href="mailto:akramgati40@gmail.com"
          >akramgati40@gmail.com</a
        ><span class="pipe">•</span><a class="maillink" href="mailto:nourkrazdi2@gmail.com"
          >nourkrazdi2@gmail.com </a
        ><span class="pipe">•</span><a class="maillink" href="mailto:terghini.zaa@gmail.com"
          >terghini.zaa@gmail.com</a
        >
        <div class="gitdiv">
          <a href="https://github.com/amxnese/Learning-Made-Fun" target="_blank" style="text-decoration: none; color: #333;">
            <img class="github" src="{% static 'app/github.svg' %}" alt=""><br>
            <span style="margin-left: 8px;">Check us on GitHub</span>
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved.</p>
      <div class="nav">
        {% if not user.is_authenticated %}
        <a href="{% url 'user-login' %}">Login</a>
        <a href="{% url 'user-register' %}">Register</a>
        {% endif %}
        <a href="{% url 'app-main' %}">Courses</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user-profile' %}">Profile</a>
        <a href="{% url 'user-logout' %}">Logout</a>
        {% endif %}
      </div>
    </div>
    <script src="{% static 'app/slide.js' %}"></script>
  </body>
</html>
