{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'app/levelsJava.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bar">
      <h1 class="pf">Learning Made Fun</h1>
      <div class="nav">
        <a href="../">Main</a>
        <a href="../#available">Courses</a>
        <a href="../../#contact">Contact</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="midlle">
      <h1 class="h1M">Why Learn Java?</h1>
      <p class="pm1">
        Java is a powerful and versatile programming language that offers a wide
        range of benefits for aspiring developers.
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Robust and Reliable</h2>
          <p class="p-cart">
            Java is known for its stability, security, and performance, making
            it a reliable choice for a wide range of applications.
          </p>
        </div>
        <div class="cart">
          <h2>Cross-Platform Compatibility</h2>
          <p class="p-cart">
            Java programs can run on multiple operating systems, including
            Windows, macOS, and Linux, making it a versatile choice.
          </p>
        </div>
        <div class="cart">
          <h2>Vast Ecosystem and Community</h2>
          <p class="p-cart">
            Java has a large and active community of developers, providing a
            wealth of resources, libraries, and tools to support your learning
            and development.
          </p>
        </div>
        <div class="cart">
          <h2>Highly Scalable</h2>
          <p class="p-cart">
            Java is designed to handle large-scale applications and can be used
            to build everything from mobile apps to enterprise-level software.
          </p>
        </div>
        <div class="cart">
          <h2>Excellent Career Prospects</h2>
          <p class="p-cart">
            Java is one of the most in-demand programming languages, with a wide
            range of job opportunities in various industries.
          </p>
        </div>
        <div class="cart">
          <h2>Powerful and Flexible</h2>
          <p class="p-cart">
            Java's object-oriented design and extensive libraries make it a
            powerful and flexible language for building a wide range of
            applications.
          </p>
        </div>
      </div>
    </div>
    <div class="low">
      <img src="{% static 'app/java.png' %}" alt="" />
      <h1 class="h1M">Let's Start</h1>
      <p class="pm1">lessons and tests</p>
      <div class="carts1">
        <div class="cart1">
          <a class="pm1" href="{% url 'app-javaLevel1' %}"> Cour 1</a>

          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaLevel2' %}"> Lesson 2</a>
          {% else %}
          <a href="invalid/"> Lesson 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaLevel3' %}"> Lesson 3</a>
          {% else %}
          <a href="invalid/"> Lesson 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaLevel4' %}"> Lesson 4</a>
          {% else %}
          <a href="invalid/"> Lesson 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaLevel5' %}"> Lesson 5</a>
          {% else %}
          <a href="invalid/"> Lesson 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaLevel6' %}"> Lesson 6</a>
          {% else %}
          <a href="invalid/"> Lesson 6</a>
          {% endif %}
        </div>
        <div class="cart1">
          <a class="pm1" href="{% url 'app-javaTest1' %}"> Test 1</a>
          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaTest2' %}"> Test 2</a>
          {% else %}
          <a href="invalid/"> Test 2</a>
          {% endif %} 
					{% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaTest3' %}"> Test 3</a>
          {% else %}
          <a href="invalid/"> Test 3</a>
          {% endif %} 
					{% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaTest4' %}"> Test 4</a>
          {% else %}
          <a href="invalid/"> Test 4</a>
          {% endif %} 
					{% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaTest5' %}"> Test 5</a>
          {% else %}
          <a href="invalid/"> Test 5</a>
          {% endif %} 
					{% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-javaTest6' %}"> Test 6</a>
          {% else %}
          <a href="invalid/"> Test 6</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved</p>
    </div>
  </body>
</html>
