{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java Syntax</title>
    <link rel="stylesheet" href="{% static 'app/level1.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Getting Familiar With Java's Syntax</h1>
        <img src="{% static 'app/java.png' %}" alt="" />
      </header>
      <main>
        <section id="syntax">
          <h2>Java Syntax</h2>
          <p>
            Java is a widely-used, class-based, object-oriented programming
            language that is designed to have as few implementation dependencies
            as possible. Here's a brief overview of its syntax:
          </p>
        </section>
        <section>
          <h2>Comments</h2>
          <p>
            In Java, comments are notes written in the source code by
            programmers to explain and clarify the code they write. These
            comments are not executed as part of the program and are mainly used
            for making the code easier to understand for humans.
          </p>
          <pre style="height: 107px">
            <code>
              <span class="comment">// This is a single-line comment.</span>
              <span class="blue">int</span> <span class="white">number</span> <span class="pink">=</span> <span class="purple">10</span><span class="white">;</span>  <span class="comment">// This comment follows a code statement.</span>

            </code>
          </pre>
        </section>
        <section id="structure">
          <h2>Basic Structure</h2>
          <p>
            A Java program can be thought of as a collection of objects that
            communicate via invoking each other's methods. Here's how a simple
            Java program looks:
          </p>
          <pre style="height: 178px">
            <code>
              <span class="pink">public class</span> <span style="color: #a6e22e;">Main</span> <span class="orange">{</span>
                <span class="pink">public static</span> <span class="blue">void</span> <span class="green">main</span><span class="purple">(</span><span class="green">String</span><span class="blue">[]</span> <span class="orange">args</span><span class="purple">){</span>
                  <span class="green">System</span><span class="white">.out.</span><span class="green">println</span><span class="blue">(</span><span class="yellow">"Hello, world!"</span><span class="blue">)</span><span class="white">;</span>
                <span class="purple">}</span>
              <span class="orange">}</span>
            </code>
          </pre>
          <ul>
            <li>
              <strong>Class Declaration:</strong>The public class Main line
              declares a class named Main.
            </li>
            <li>
              <strong>Method Declaration:</strong>Inside the class, we can
              define methods. Here,
              <code>public static void main(String[] args)</code> is the main
              method, which is the entry point of any Java program.
            </li>
            <li>
              <strong>Statements:</strong> Inside the method, we write our
              logic. <code>System.out.println("Hello, world!");</code> is a
              statement that prints the string "Hello, world!" to the console.
            </li>
          </ul>
        </section>
        <section id="variables">
          <h2>Variables and Data Types</h2>
          <p>
            Java is statically-typed, meaning variables must be declared before
            they can be used. Here's how you can declare variables:
          </p>
          <pre style="height: 126px">
            <code>
              <span class="blue">int</span> <span class="white"></span> <span class="pink">=</span> <span class="purple">10</span><span class="white">;</span>
              <span class="blue">boolean</span> <span class="white">myBoolean</span> <span class="pink">=</span> <span class="purple">false</span><span class="white">;</span>
              <span class="green">String</span> <span class="white"></span> <span class="pink">=</span> <span class="yellow">"Hello world!"</span><span class="white">;</span>
            </code>
          </pre>
        </section>
        <section>
          <h2>Operators</h2>
          <p>
            In Java, operators are special symbols that perform specific
            operations on one, two, or three operands, and then return a result.
            Java supports several types of operators, which can be categorized
            into several groups:
          </p>
          <h3>Arithmetic Operators</h3>
          <p>These operators are used for performing basic mathematical operations:</p>
          <ul>
            <li><strong>'+'</strong> (Addition): Adds two values together. </li>
            <li><strong>'-'</strong> (Subtraction): Subtracts one value from another. </li>
            <li><strong>'*'</strong> (Multiplication): Multiplies two values. </li>
            <li><strong>'/'</strong> (Division): Divides one value by another. </li>
            <li><strong>'%'</strong> (Modulus): Returns the remainder of a division operation. </li>
          </ul>
          <h3>Assignment Operators</h3>
          <p>
            Used to assign values to variables.
          </p>
          <li><strong>'='</strong> Assigns values from right side operands to left side operand. </li>
          <li><strong>'+='</strong> Adds right operand to the left operand and assigns the result to the left operand. </li>
          <li><strong>'-='</strong> Subtracts the right operand from the left operand and assigns the result to the left operand. </li>
          <li><strong>'*='</strong> Multiplies right operand with the left operand and assigns the result to the left operand. </li>
          <li><strong>'/='</strong> Divides left operand by the right operand and assigns the result to the left operand. </li>
          <li><strong>'%='</strong> Takes modulus using two operands and assigns the result to the left operand. </li>
          <li><strong>'**/'</strong> Performs exponential (power) calculation on operators and assigns value to the left operand. </li>
          <li><strong>'//='</strong> Performs floor division on operators and assigns value to the left operand. </li>
        </section>
        </section>
      </main>
      <footer>
        <div class="center">
          <button class="test" role="button">Take a Test</button>
        </div>
      </footer>
    </div>
  </body>
</html>
