{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'app/levelsJs.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'app-home' %}">Home</a></li>
          <li><a href="">Quiz</a></li>
          <li><a href="">Language</a></li>
        </ul>
      </nav>
    </header>
    <section class="content">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="card-title">
            Introduction to JavaScript
            <img src="{% static 'app/js.png' %}" alt="" /><i
              class="ri-image-add-line"
            ></i>
          </h3>
          <p class="card-text">
            This section provides an overview of the JavaScript programming language
            and terminology. JavaScript is a flexible and readable programming
            language, supporting object-oriented, imperative, and functional
            paradigms. It's widely used for web development, data analysis, AI,
            and scientific computing.
          </p>
          <a href="{% url 'app-pyIntro' %}" class="btn btn-primary"
            >Start Learning</a
          >
        </div>
      </div>
      <div class="level">
        <!-- Level 1 -->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 1: Syntax</h3>
            <p class="card-text">
              This level covers syntax, data types, variables...
            </p>
            <a href="{% url 'app-jsLevel1' %}" class="btn btn-{{levels.lvl1}}">Start Learning</a>
          </div>
        </div>
        <!-- Level 2 -->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 2: Built-in methods</h3>
            <p class="card-text">
              This level covers more advanced topics like Built-in methods,
              arithmetic operators, concatenations
            </p>
            <a href="#" class="btn btn-{{levels.lvl2}}">Start Learning</a>
          </div>
        </div>
        <!-- End Level 2 -->
      </div>
      <!-- End Level Cards -->

      <!-- Level Cards -->
      <div class="level-container">
        <!-- Level 3 -->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 3: Built-in data structures</h3>
            <p class="card-text">
              This level covers the JavaScript's built-in data structures and some
              built-in methods related to them
            </p>
            <a href="#" class="btn btn-{{levels.lvl3}}">Start Learning</a>
          </div>
        </div>
        <!-- end Level 3 -->
        <!-- Level 4 -->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 4: Control flow</h3>
            <p class="card-text">
              Understanding how to control the flow and relational operators
            </p>
            <a href="#" class="btn btn-{{levels.lvl4}}">Start Learning</a>
          </div>
        </div>
        <!-- end Level 4 -->
      </div>
      <!-- End Level Cards -->

      <!-- Level Cards -->
      <div class="level-container">
        <!-- end Level 5 -->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 5: Loops</h3>
            <p class="card-text">Where, When, Why, and How to use Loops</p>
            <a href="#" class="btn btn-{{levels.lvl5}}">Start Learning</a>
          </div>
        </div>
        <!-- end Level 5 -->

        <!-- Level 6-->
        <div class="carte">
          <div class="card-body">
            <h3 class="card-title">Level 6: Functions</h3>
            <p class="card-text">
              Getting Started with the concept of functions
            </p>
            <a href="#" class="btn btn-{{levels.lvl6}}">Start Learning</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
