{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'app/levelsJs.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript</title>
  </head>
  <body>
    <div class="bar">
      <h1 class="pf">Learning Made Fun</h1>
      <div class="nav">
        <a href="../">Main</a>
        <a href="../#available">Courses</a>
        <a href="../../#contact">Contact</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="midlle">
      <h1 class="h1M">Why Learn JavaScript?</h1>
      <p class="pm1">
        Java is a powerful and versatile programming language that offers a wide
        range of benefits for aspiring developers.
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Simplicity and Readability</h2>
          <p class="p-cart">
            JavaScript's syntax is designed to be simple and readable, making it
            an ideal language for beginners. Its clean and concise code promotes
            better maintainability and collaboration among developers.
          </p>
        </div>
        <div class="cart">
          <h2>Versatility and Flexibility</h2>
          <p class="p-cart">
            JavaScript is a versatile language that can be used for a wide range
            of applications, including web development, mobile app development,
            server-side scripting, game development, and more. Its extensive
            ecosystem of libraries and frameworks provides developers with
            powerful tools to tackle various tasks efficiently.
          </p>
        </div>
        <div class="cart">
          <h2>Large and Supportive Community</h2>
          <p class="p-cart">
            JavaScript boasts a large and supportive community of developers
            worldwide. This vibrant community contributes to the continuous
            improvement of the language, develops useful libraries and
            frameworks, and provides extensive documentation and tutorials,
            making it easy for newcomers to get started and learn from others.
          </p>
        </div>
        <div class="cart">
          <h2>Cross-Platform Compatibility</h2>
          <p class="p-cart">
            JavaScript is a platform-independent language, meaning that code
            written in JavaScript can run seamlessly on different platforms and
            devices, including web browsers, servers, and mobile devices. This
            cross-platform compatibility enhances code portability and
            simplifies deployment across diverse environments.
          </p>
        </div>
        <div class="cart">
          <h2>Rapid Development</h2>
          <p class="p-cart">
            JavaScript's focus on simplicity and productivity enables developers
            to build and iterate on projects quickly. Its dynamic typing,
            flexible syntax, and built-in support for common programming tasks,
            such as DOM manipulation and event handling, accelerate the
            development process and reduce time-to-market for applications.
          </p>
        </div>
        <div class="cart">
          <h2>Scalability and Performance</h2>
          <p class="p-cart">
            While JavaScript is often praised for its ease of use and rapid
            development, it also offers scalability and performance
            capabilities. By leveraging techniques such as asynchronous
            programming, web workers, and optimization strategies, developers
            can create high-performance JavaScript applications that handle
            large-scale data processing and user interactions effectively.
          </p>
        </div>
      </div>
    </div>
    <div class="low">
      <img src="{% static 'app/js.png' %}" alt="" />
      <h1 class="h1M">Let's Start</h1>
      <p class="pm1">cours and tests</p>
      <div class="carts1">
        <div class="cart1">
          <a class="pm1" href="{% url 'app-jsLevel1' %}"> Cour 1</a>

          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel2' %}"> Lesson 2</a>
          {% else %}
          <a href="invalid/"> Lesson 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel3' %}"> Lesson 3</a>
          {% else %}
          <a href="invalid/"> Lesson 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel4' %}"> Lesson 4</a>
          {% else %}
          <a href="invalid/"> Lesson 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel5' %}"> Lesson 5</a>
          {% else %}
          <a href="invalid/"> Lesson 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel6' %}"> Lesson 6</a>
          {% else %}
          <a href="invalid/"> Lesson 6</a>
          {% endif %}
        </div>
        <div class="cart1">
          <a class="pm1" href="{% url 'app-jsTest1' %}"> Test 1</a>
          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest2' %}"> Test 2</a>
          {% else %}
          <a href="invalid/"> Test 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest3' %}"> Test 3</a>
          {% else %}
          <a href="invalid/"> Test 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest4' %}"> Test 4</a>
          {% else %}
          <a href="invalid/"> Test 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest5' %}"> Test 5</a>
          {% else %}
          <a href="invalid/"> Test 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest6' %}"> Test 6</a>
          {% else %}
          <a href="invalid/"> Test 6</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved</p>
    </div>
  </body>
</html>
