{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'app/entrance.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">    <title>JavaScript</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <script src="{% static 'app/appHide.js' %}"></script>
    <div class="flex alert">
      <div class="message {{message.tags}}">
        {% if message.tags == "success" %}
        <h1>Level Passed</h1>
        {% elif message.tags == "warning" %}
        <h1>Failed</h1>
        {% elif message.tags == "info" %}
        <h1>Unreachable</h1>
        {% else %}
        <h1>{{ message.tags }}</h1>
        {% endif %}
        <p>{{ message }}</p>
      </div>
    </div>
    <script>
      hideMessage();
    </script>
    {% endfor %} {% endif %}
    <div class="bar">
      <h1 onclick="location.href='/'" class="pf home">Learning Made Fun</h1>
      <div class="nav">
        <a href="../">Main</a>
        <a href="../#available">Courses</a>
        <a href="../../#contact">Contact</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="midlle">
      <h1 class="h1M">Why Learn JavaScript?</h1>
      <p class="pm1">
        JavaScript is one of the best languages for creating dynamic,
        interactive web applications, essential for modern front-end and
        back-end development.
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Versatility and Ubiquity</h2>
          <p class="p-cart">
            JavaScript is a <strong>versatile</strong> language that runs on
            almost every web browser, making it essential for web development.
            It's used for both <strong>client-side</strong> and
            <strong>server-side</strong> development, allowing you to create
            <strong>interactive websites</strong> and
            <strong>full-stack applications</strong> using technologies like
            <strong>Node.js</strong>.
          </p>
        </div>
        <div class="cart">
          <h2>Rich Ecosystem and Frameworks</h2>
          <p class="p-cart">
            JavaScript has a <strong>rich ecosystem</strong> with numerous
            <strong>frameworks and libraries</strong> that simplify development:
            Front-End: <strong>React, Angular, Vue.js</strong> Back-End:
            <strong>Node.js, Express.js</strong> Mobile Development:
            <strong>React Native, Ionic</strong> These tools help you build
            <strong>modern, efficient, and scalable applications</strong>
            quickly.
          </p>
        </div>
        <div class="cart">
          <h2>High Demand and Career Opportunities</h2>
          <p class="p-cart">
            JavaScript is one of the most <strong>in-demand</strong> programming
            languages in the job market. It’s a critical skill for
            <strong>front-end, back-end, and full-stack developers</strong>.
            Learning JavaScript can significantly enhance your
            <strong>employability</strong> and open up numerous
            <strong>career opportunities</strong> in tech.
          </p>
        </div>
        <div class="cart">
          <h2>Active Community and Abundant Resources</h2>
          <p class="p-cart">
            JavaScript has a <strong>large, active community</strong> that
            contributes to its growth and evolution. This means you have access
            to <strong>extensive documentation, tutorials, forums</strong>, and
            a wealth of <strong>open-source libraries</strong>. The community
            support makes it easier to learn and solve problems.
          </p>
        </div>
        <div class="cart">
          <h2>Asynchronous Programming</h2>
          <p class="p-cart">
            JavaScript’s support for
            <strong>asynchronous programming</strong> with features like
            <strong>Promises, async/await, and callbacks</strong> allows you to
            handle multiple tasks concurrently. This is especially useful for
            web development, where you often need to manage tasks like
            <strong>API calls, user interactions</strong>, and
            <strong>animations</strong> efficiently.
          </p>
        </div>
        <div class="cart">
          <h2>Modern Development Tools</h2>
          <p class="p-cart">
            JavaScript has a wide range of
            <strong>powerful development tools</strong> that enhance
            productivity and streamline development processes: Package Managers:
            <strong>npm, Yarn</strong> Build Tools:
            <strong>Webpack, Gulp</strong> Testing Frameworks:
            <strong>Jest, Mocha</strong> These tools help
            <strong>automate tasks, manage dependencies</strong>, making development faster and more
            efficient.
          </p>
        </div>
      </div>
    </div>
    <div class="low">
      <img src="{% static 'app/js.png' %}" alt="" />
      <h1 class="h1M">Let's Start</h1>
      <p class="pm1">Lessons and Tests</p>
      <div class="carts1">
        <div class="cart1">
          <a class="pm1" href="{% url 'app-jsLevel1' %}"> Lesson 1</a>

          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel2' %}"> Lesson 2</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel3' %}"> Lesson 3</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel4' %}"> Lesson 4</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel5' %}"> Lesson 5</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsLevel6' %}"> Lesson 6</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 6</a>
          {% endif %}
        </div>
        <div class="cart1">
          <a class="pm1" href="{% url 'app-jsTest1' %}"> Test 1</a>
          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest2' %}"> Test 2</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest3' %}"> Test 3</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest4' %}"> Test 4</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest5' %}"> Test 5</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-jsTest6' %}"> Test 6</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 6</a>
          {% endif %}
        </div>
      </div>
      <div class="btns">
        <button
          class="btn"
          role="button"
          onclick="location.href='videos/'"
        >
          Related videos <br><i class="ri-youtube-line"></i>
        </button>
        <button
          class="btn"
          role="button"
          onclick="location.href='books/'"
        >
          Related books <br><i class="fa-solid fa-book-open"></i>
        </button>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved</p>
    </div>
  </body>
</html>
