{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Syntax</title>
    <link rel="stylesheet" href="{% static 'app/level1.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Getting Familiar With JavaScript's Syntax</h1>
        <img src="{% static 'app/js.png' %}" alt="" />
      </header>
      <main>
        <section id="syntax">
          <h2>JavaScript Syntax</h2>
          <p></p>
        </section>
        <section id="indentation">
          <h2></h2>
          <p></p>
        </section>
        <section id="variables">
          <h2>Variables and Assignment</h2>
          <p></p>
        </section>
        <section id="getting-started">
          <p></p>
        </section>
        <section>
          <h2>Data Types</h2>
          <p></p>
        </section>
      </main>
      <footer>
        <div class="center">
          <button class="test" role="button">Take a Test</button>
        </div>
      </footer>
    </div>
  </body>
</html>
