{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript built-in functions</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <style>
      pre{
        width: 900px;
      }
    </style>
    <div class="container">
      <header>
        <h1>Getting Familiar With Python's Syntax</h1>
        <img src="{% static 'app/js.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are built-in functions</h2>
          <p>
            In JavaScript, a built-in function typically refers to the methods
            provided by Java's standard libraries, which are part of the Java
            API. These methods are readily available for use without the need
            for the programmer to define them. They serve a wide range of
            purposes, from mathematical calculations to handling strings, files,
            and data collections.
          </p>
        </section>
        <section>
          <h2>Why we use built-in functions</h2>
          <p>
            We use built-in functions in programming languages like Java for
            several important reasons:
          </p>
          <ul>
            <li>
              <strong>Efficiency:</strong> Built-in functions are often
              optimized for performance by the language developers. They are
              implemented in a way that maximizes speed and minimizes resource
              usage, which can be hard to achieve with custom code.
            </li>
            <li>
              <strong>Reliability:</strong> These functions have been thoroughly
              tested and are used widely, ensuring that they are reliable and
              free from common bugs. This reduces the risk of errors in your own
              code.
            </li>
            <li>
              <strong>Simplicity:</strong> Built-in functions simplify the
              coding process by providing ready-to-use solutions for routine
              tasks, allowing developers to accomplish more with less code. This
              makes the code cleaner and easier to understand.
            </li>
            <li>
              <strong>Portability:</strong> Using built-in functions ensures
              that your code can run on any platform that supports the Java
              runtime, without needing any modifications. This is because the
              functionality of these functions is defined as part of the Java
              standard.
            </li>
            <li>
              <strong>Productivity:</strong> By reducing the need to write and
              test custom implementations of common functionalities, built-in
              functions allow developers to focus more on the specific logic and
              features unique to their applications.
            </li>
            <li>
              <strong>Standardization:</strong> Built-in functions promote
              coding standards and best practices. When developers use these
              functions, it helps maintain a uniformity in coding styles across
              different projects, which is beneficial for code maintenance and
              team collaboration.
            </li>
          </ul>
        </section>
        <section>
          <h2>Most Used Built-in JavaScript Functions</h2>
          <table>
            <thead>
              <tr>
                <th>Function</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>alert()</td>
                <td>
                  Displays an alert dialog with the specified message and an OK
                  button.
                </td>
              </tr>
              <tr>
                <td>console.log()</td>
                <td>Outputs information to the web console.</td>
              </tr>
              <tr>
                <td>document.getElementById()</td>
                <td>
                  Returns the element that has the ID attribute with the
                  specified value.
                </td>
              </tr>
              <tr>
                <td>document.querySelector()</td>
                <td>
                  Returns the first element within the document that matches the
                  specified selector, or group of selectors.
                </td>
              </tr>
              <tr>
                <td>document.querySelectorAll()</td>
                <td>
                  Returns a static NodeList representing a list of the
                  document's elements that match the specified group of
                  selectors.
                </td>
              </tr>
              <tr>
                <td>document.createElement()</td>
                <td>Creates a new element with the specified tag name.</td>
              </tr>
              <tr>
                <td>addEventListener()</td>
                <td>
                  Sets up a function that will be called whenever the specified
                  event is delivered to the target.
                </td>
              </tr>
              <tr>
                <td>setTimeout()</td>
                <td>
                  Sets a timer which executes a function or specified piece of
                  code once after the timer expires.
                </td>
              </tr>
              <tr>
                <td>clearTimeout()</td>
                <td>
                  Cancels a timeout previously established by calling
                  setTimeout().
                </td>
              </tr>
              <tr>
                <td>setInterval()</td>
                <td>
                  Repeatedly calls a function or executes a code snippet, with a
                  fixed time delay between each call.
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section>
          <h2>Examples on some usefull functions</h2>
          <ul>
            <li>
              <h3>1. 'alert()' Function</h3>
              <p>
                The <strong>'alert()'</strong> function is used to display a
                modal dialog with a specified message and an OK button to the
                user. It's a part of the <code>window</code> object in
                JavaScript and commonly used for alerting the user in a variety
                of scenarios, primarily for quick debugging or simple
                notifications.
              </p>
              <pre style="width: 800px;">
              <code>
                <span class="comment">// Example of using alert() to show a greeting</span>
                alert(<span class="yellow">"Hello, world!"</span>)
              </code>
              </pre>
            </li>
            <hr />
            <li>
              <h3>1. 'console.log()' Function</h3>
              <p>
                The <strong>'console.log()'</strong> function is used to output
                information to the web console, which is an essential tool for
                debugging JavaScript code. It can display strings, variables,
                objects, and more, making it incredibly useful for inspecting
                the internal state of an application or tracking the flow of
                execution.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using console.log() to display a message and a variable</span>
                var message = <span class="yellow">"The value is:"</span>;
                var value = 10;
                console.log(message, value);
              </code>
              </pre>
              <p>
                This example illustrates how console.log() can be used to log
                both text and variable values to the console, providing a
                practical way to track values and application state during
                development.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'document.getElementById()' Function</h3>
              <p>
                The <strong>'document.getElementById()'</strong> function is
                used to retrieve an element from the HTML document by its ID
                attribute. This function is crucial for manipulating HTML
                elements directly with JavaScript, allowing developers to update
                content, styles, and interact with specific parts of the web
                page dynamically.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using document.getElementById() to change text content</span>
                var myElement = document.getElementById(<span class="yellow">"demo"</span>);
                myElement.textContent = <span class="yellow">"Hello, JavaScript!"</span>;
              </code>
              </pre>
              <p>
                This example demonstrates how to select an HTML element with the
                ID "demo" and change its text content to "Hello, JavaScript!"
                using JavaScript. This is a common approach for dynamically
                updating the content of web pages.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'document.querySelector()' Function</h3>
              <p>
                The <strong>'document.querySelector()'</strong> function is used
                to select the first element within the document that matches a
                specified CSS selector(s). It's incredibly versatile, allowing
                developers to access any element by leveraging CSS syntax, which
                makes it ideal for more complex querying needs beyond simple ID
                or class selectors.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using document.querySelector() to find and style a button</span>
                var button = document.querySelector(<span class="yellow">"button.primary"</span>);
                button.style.backgroundColor = <span class="yellow">"blue"</span>;
              </code>
              </pre>
              <p>
                This example shows how to select the first button element with a
                class of "primary" and change its background color to blue.
                document.querySelector() is a powerful tool for accessing
                elements in a flexible and precise manner.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'document.createElement()' Function</h3>
              <p>
                The <strong>'document.createElement()'</strong> function is used
                to create a new element node in the DOM. This function is
                essential for dynamically adding new elements to the webpage.
                Developers use it extensively to build UI components on the fly,
                modify content, and interact with the document structure
                programmatically.
              </p>
              <pre style="width: 1000px;">
              <code>
                <span class="comment">// Example of using document.createElement() to create a new div and add it to the body</span>
                var newDiv = document.createElement(<span class="yellow">"div"</span>);
                newDiv.innerHTML = <span class="yellow">"Hello, dynamic world!"</span>;
                document.body.appendChild(newDiv);
              </code>
              </pre>
              <p>
                In this example, a new &lt;div&gt; element is created, its inner
                HTML is set to "Hello, dynamic world!", and then it is appended
                to the body of the document. This method is commonly used to
                dynamically add content to a web page.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'addEventListener()' Function</h3>
              <p>
                The <strong>'addEventListener()'</strong> method is used to
                attach an event handler to a specific element. This method
                provides a way to execute a function when a specified event
                occurs, such as a mouse click, a key press, or a page load. It
                is crucial for interacting with users and handling events in an
                efficient, non-obtrusive way.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using addEventListener() to handle click events</span>
                var btn = document.querySelector(<span class="yellow">"button"</span>);
                btn.addEventListener(<span class="yellow">"click"</span>, function() {
                  alert(<span class="yellow">"Button was clicked!"</span>);
                });
              </code>
              </pre>
              <p>
                This example demonstrates how to attach a click event listener
                to a button. When the button is clicked, it triggers an alert
                that says "Button was clicked!". The addEventListener() method
                is versatile and can be used to handle all sorts of events
                across different elements.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'setTimeout()' Function</h3>
              <p>
                The <strong>'setTimeout()'</strong> function is used to execute
                a piece of code or a function after a specified delay (in
                milliseconds). It's part of the Window or Worker global scope,
                and it's typically used for delaying function execution,
                creating timeouts, or scheduling tasks to run after an interval.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using setTimeout() to execute a function after a 3-second delay</span>
                setTimeout(function() {
                  console.log(<span class="yellow">"This message appears after 3 seconds"</span>);
                }, 3000);
              </code>
              </pre>
              <p>
                This example shows how to use setTimeout() to log a message to
                the console after a delay of 3000 milliseconds (or 3 seconds).
                The function allows for scheduling of both simple and complex
                tasks that should not execute immediately, providing flexibility
                in timing and execution flow control.
              </p>
            </li>
            <hr />
            <li>
              <h3>1. 'setInterval()' Function</h3>
              <p>
                The <strong>'setInterval()'</strong> function is used to
                repeatedly execute a function or a block of code at fixed time
                intervals, specified in milliseconds. It is part of the Window
                or Worker global scope and is commonly used for tasks that
                require periodic updates, such as updating a countdown timer,
                animating elements in a loop, or polling a server.
              </p>
              <pre>
              <code>
                <span class="comment">// Example of using setInterval() to increment and display a counter every second</span>
                var count = 0;
                var intervalId = setInterval(function() {
                  count++;
                  console.log(<span class="yellow">"Count: "</span> + count);
                  if (count >= 5) {
                    clearInterval(intervalId); // Stop the interval after 5 iterations
                    console.log(<span class="yellow">"Interval stopped."</span>);
                  }
                }, 1000);
              </code>
              </pre>
              <p>
                This example demonstrates how to use setInterval() to create a
                simple counter that increments every second. The interval is
                stopped after reaching a count of 5 by calling clearInterval(),
                which is used to cancel the interval. This method is essential
                for any task that requires regular, repeated execution at set
                time intervals.
              </p>
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <div class="center">
          <button class="test" role="button">Take a Test</button>
        </div>
      </footer>
    </div>
  </body>
</html>
