{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/main.css' %}" />
    <title>main</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div onclick="window.location.href='/'" class="logo">
          Learning Made Fun
        </div>
        <div class="nav">
          <a href="">Contact</a>
          {% if user.is_authenticated %}
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>
          {% else %}
          <a href="/register">Register</a>
          <a href="/login">Login</a>
          {% endif %}
        </div>
      </div>
      <h2>Welcome</h2>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="lowerBody">
        <div class="java">
          <img
            src="{% static 'app/java.png' %}"
            alt="Java"
            title="Java - A powerful, object-oriented programming language used for building robust applications."
          />
          <button onclick="window.location.href='java/'">Java</button>
        </div>
        <div class="javascript">
          <img
            src="{% static 'app/js.png' %}"
            alt="JavaScript"
            title="JavaScript - A versatile scripting language used for web development, including dynamic and interactive content."
          />
          <button onclick="window.location.href='js/'">JavaScript</button>
        </div>
        <div class="python">
          <img
            src="{% static 'app/python.png' %}"
            alt="Python"
            title="Python - A high-level, interpreted language known for its simplicity and readability, suitable for various applications including web development, data analysis, and artificial intelligence."
          />
          <button onclick="window.location.href='python/'">Python</button>
        </div>
      </div>
      <footer>
        <p>&copy; 2024 Learning Made Fun. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
