{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/main.css' %}" />
    <title>main</title>
  </head>
  <body>
    <div class="up">
      <h1 class="upH1">Explore Our Courses</h1>
      <p class="upP">
        Find the perfect course to expand your knowledge and skills. Search by
        category or browse our wide selection.
      </p>
      <div class="input-container">
        <input type="text" placeholder="Search cources ..." />
        <button>Search</button>
      </div>
    </div>
    <div class="midlle">
      <h1 class="h1M">Map for learning programming</h1>
      <p class="pm1">
        We can help you choose the programming languages that suit you to learn
      </p>

      <div class="carts">
        <div class="cart">
          <h2>Computer software development</h2>
          <p class="p-cart">
            Computer software development refers to the process of creating,
            designing, and programming software applications or systems that run
            on computers or other electronic devices. It involves
            conceptualizing, planning, coding, testing, and deploying software
            to meet specific user needs or solve particular problems. Software
            developers use various programming languages, development
            methodologies, and tools to build software that ranges from simple
            applications to complex enterprise systems. The goal of software
            development is to produce reliable, scalable, and user-friendly
            solutions that enhance productivity, efficiency, and innovation in
            various domains.
          </p>
        </div>
        <div class="cart">
          <h2>Mobile software development</h2>
          <p class="p-cart">
            Mobile software development involves the creation, design, and
            implementation of software applications specifically tailored to run
            on mobile devices like smartphones and tablets. It encompasses the
            entire lifecycle of app development, including planning, coding,
            testing, and deployment. Mobile developers utilize programming
            languages such as Java, Kotlin, Swift, or Dart, along with
            development frameworks and tools, to create apps for platforms like
            iOS and Android. The objective of mobile software development is to
            deliver intuitive, responsive, and feature-rich applications that
            provide valuable experiences to users while leveraging the unique
            capabilities of mobile devices.
          </p>
        </div>
        <div class="cart">
          <h2>Website development</h2>
          <p class="p-cart">
            Website development encompasses the process of designing, building,
            and maintaining websites on the internet. It involves creating web
            pages using languages like HTML, styling them with CSS, and adding
            interactivity with JavaScript. Website developers use various tools
            and frameworks to streamline development and ensure compatibility
            across different browsers and devices. The goal of website
            development is to deliver engaging, user-friendly online experiences
            that serve specific purposes, whether informational, transactional,
            or interactive.
          </p>
        </div>
      </div>
    </div>
    <div class="low">
      <h1 class="h1M">Cources available</h1>
      <p class="p-title">Computer software development</p>
      <div class="cources">
        <div class="cart1">
          <img src="{% static 'app/python.png' %}" alt="" />
          <button onclick="window.location.href='python/'" class="but">Python</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/java.png' %}" alt="" />
          <button onclick="window.location.href='java/'" class="but">Java</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/js.png' %}" alt="" />
          <button onclick="window.location.href='js/'" class="but">JavaScript</button>
        </div>
      </div>
    </div>
    <div class="low1">
      <p class="p-title">Mobile software development</p>
      <div class="cources">
        <div class="cart1">
          <img src="{% static 'app/java.png' %}" alt="" />
          <button class="but">Java</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/python.png' %}" alt="" />
          <button class="but">Swift</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/python.png' %}" />
          <button class="but">Kotlin</button>
        </div>
      </div>
    </div>
    <div class="low1">
      <p class="p-title">Website development</p>
      <div class="cources">
        <div class="cart1">
          <img src="{% static 'app/python.png' %}" alt="" />
          <button class="but">Html</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/python.png' %}" alt="" />
          <button class="but">Css</button>
        </div>
        <div class="cart1">
          <img src="{% static 'app/js.png' %}" alt="" />
          <button class="but">JavaScript</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved.</p>
      <div class="nav">
        <a href="/logout"> Logout</a>
        <a href="/profile"> Profile</a>
      </div>
    </div>
  </body>
</html>
