{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Syntax</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Getting Familiar With Python's Syntax</h1>
        <img src="{% static 'app/python.png' %}" alt="" />
      </header>
      <main>
        <section id="syntax">
          <h2>Python Syntax</h2>
          <p>
            Python syntax refers to the set of rules that defines how a Python
            program is written and interpreted by both the Python interpreter
            and human readers. Here are some key points about Python syntax
          </p>
        </section>
        <section id="indentation">
          <h2>Indentation</h2>
          <p>
            Python uses indentation to define blocks of code. Unlike many other
            programming languages that use braces {} to define blocks, Python
            uses whitespace (tabs or spaces). The standard practice is to use
            four spaces per indentation level.
          </p>
        </section>
        <section id="variables">
          <h2>Variables and Assignment</h2>
          <p>
            Variables can be assigned values using the = operator, and Python is
            dynamically typed, which means you don't explicitly declare variable
            types unlike many programming languages.
          </p>
          <pre>
              <code>
                <span class="white">x </span><span class="pink">=</span><span class="number"> 10</span>
                <span class="white">y </span><span class="pink">=</span><span class="yellow"> "Hello, World!"</span>
              </code>
            </pre>
        </section>
        <section id="getting-started">
          <h2>Comments</h2>
          <p>
            Python uses the # symbol for comments. Anything after # on a line is
            ignored by the Python interpreter.
          </p>
          <pre>
            <code>
              <span class="comment"># This is a comment</span>
              <span class="blue">print</span><span class="orange">(</span><span class="yellow">"Hello, World!"</span><span class="orange">)</span><span class="comment"># This prints a string</span>
            </code>
          </pre>
        </section>
        <section>
          <h2>Data Types</h2>
          <p>
            Python supports various data types, including integers, floats,
            strings, and booleans, as well as complex data structures like
            lists, tuples, sets, and dictionaries.
          </p>
          <pre>
            <code>
                <span class="comment"># List declaration</span>
                <span class="white">my_list</span> <span class="yellow">=</span> <span class="orange">[</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">]</span>
                <span class="comment"># Dictionary declaration</span>
                <span class="white">my_dict</span> <span class="yellow">=</span> <span class="orange">{</span><span class="yellow">"a"</span><span class="white">:</span> <span class="purple">1</span><span class="white">,</span> <span class="yellow">"b"</span><span class="white">:</span> <span class="purple">2</span><span class="orange">}</span>
                <span class="comment"># Tuple declaration</span>
                <span class="white">my_tuple</span> <span class="yellow">=</span> <span class="orange">(</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">)</span>
                <span class="comment"># Set declaration</span>
                <span class="white">my_set</span> <span class="yellow">=</span> <span class="orange">{</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">}</span>
            </code>
        </pre>
        </section>
        <section>
          <h2>Operators</h2>
          <p>
            In Python, operators are special symbols that carry out arithmetic
            or logical computation. The value that the operator operates on is
            called the operand. Here's an overview of the different types of
            operators available in Python:
          </p>
          <h3>Arithmetic Operators</h3>
          <ul>
            <li><strong>'+'</strong> Addition: Adds two operands.</li>
            <li><strong>'-'</strong> Subtraction: Subtracts the second operand from the first.</li>
            <li><strong>'*'</strong> Multiplication: Multiplies two operands.</li>
            <li><strong>'/'</strong> Division: Divides the first operand by the second operand.</li>
            <li><strong>'%'</strong> Modulus: Returns the remainder when the first operand is divided by the second.</li>
            <li><strong>'**'</strong> Exponentiation: Raises the first operand to the power of the second operand.</li>
            <li><strong>'//'</strong> Floor division: Divides the first operand by the second operand, rounding down to the nearest whole number.</li>
          </ul>
          <h3>Assignment Operators</h3>
          <p>
            Used to assign values to variables.
          </p>
          <li><strong>'='</strong> Assigns values from right side operands to left side operand. </li>
          <li><strong>'+='</strong> Adds right operand to the left operand and assigns the result to the left operand. </li>
          <li><strong>'-='</strong> Subtracts the right operand from the left operand and assigns the result to the left operand. </li>
          <li><strong>'*='</strong> Multiplies right operand with the left operand and assigns the result to the left operand. </li>
          <li><strong>'/='</strong> Divides left operand by the right operand and assigns the result to the left operand. </li>
          <li><strong>'%='</strong> Takes modulus using two operands and assigns the result to the left operand. </li>
          <li><strong>'**/'</strong> Performs exponential (power) calculation on operators and assigns value to the left operand. </li>
          <li><strong>'//='</strong> Performs floor division on operators and assigns value to the left operand. </li>
        </section>
      </main>
      <footer>
        <div class="center">
          <button class="test" role="button">Take a Test</button>
        </div>
      </footer>
    </div>
  </body>
</html>
