{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>python built-in data structures</title>
    <link rel="stylesheet" href="{% static 'app/levels.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Conditional Statements in Python</h1>
        <img src="{% static 'app/python.png' %}" alt="" />
      </header>
      <main>
        <section>
          <h2>What are Conditional Statements</h2>
          <p>
            <strong>Conditional statements</strong> in Python are used to
            execute different blocks of code based on certain conditions. These
            statements are essential for decision making in your code. The
            primary conditional statements in Python are:
          </p>
          <ul>
            <li>
              <strong>if:</strong> This is used to test a condition and execute
              a block only if the condition is true.
            </li>
            <li>
              <strong>elif:</strong> Short for "else if", it allows you to test
              multiple conditions after an if statement. It's executed if its
              condition is true and all preceding conditions in the chain are
              false.
            </li>
            <li>
              <strong>else:</strong> This catches anything which isn't caught by
              the preceding conditions.
            </li>
          </ul>
          <p>
            Conditional statements are a fundamental part of programming,
            allowing you to control the flow of execution based on conditions.
          </p>
        </section>
        <section>
          <h2>When To Use Conditional Statements</h2>
          <p>
            Conditional statements in programming, including Python, are used in
            various scenarios where you need to make decisions based on specific
            conditions. These are some common use cases:
          </p>
          <ul>
            <li>
              <strong>Control Flow:</strong> To direct the flow of execution
              depending on whether certain conditions are true or false. For
              example, performing different actions based on user input.
            </li>
            <li>
              <strong>Data Filtering:</strong> To execute code only for items
              that meet certain criteria, such as filtering data in a list based
              on some attributes.
            </li>
            <li>
              <strong>Error Handling:</strong> To check for potential errors or
              unexpected values before performing operations. For example,
              checking if a divisor is zero before performing a division.
            </li>
            <li>
              <strong>Feature Toggle:</strong> Enabling or disabling features in
              software based on configuration options or environment variables.
            </li>
            <li>
              <strong>User Authentication:</strong> To determine the level of
              access or permissions a user has, based on their credentials or
              roles.
            </li>
            <li>
              <strong>Validation:</strong> To ensure that input data meets
              certain criteria before it's processed further, such as checking
              if a user's input is within a valid range.
            </li>
            <p>and many more Examples</p>
          </ul>
          <p>
            Conditional statements are a foundational aspect of almost all
            non-trivial programs, enabling developers to build flexible and
            dynamic software systems.
          </p>
        </section>
        <section>
          <h2>Examples on Python's Conditional Statements</h2>
          <p>
            Here are examples of how to use <code>if</code>,
            <code>elif</code>, and <code>else</code> statements
          </p>
          <h3>
            Simple <code>if</code>, <code>elif</code>, and
            <code>else</code> Example
          </h3>
          <p>This example demonstrates basic conditional logic:</p>
          <pre>
            <code>
              x = 20
              if x &lt; 10:
                print("Less than 10")
              elif x &lt; 20:
                print("Less than 20 but not less than 10")
              else:
                print("20 or more")
            </code>
          </pre>

          <h3>Nested Conditional Example</h3>
          <p>
            Nested conditionals are useful for more complex decision structures.
            Here is how you can use a nested <code>if</code> inside another
            <code>if</code>:
          </p>
          <pre>
            <code>
              age = 25
              registered = True
              if registered:
                if age &lt; 18:
                  print("Registered but under 18")
                else:
                  print("Registered and 18 or older")
              else:
                print("Not registered")
            </code>
          </pre>

          <h3>Summary</h3>
          <p>
            <strong>Conditional statements</strong> are crucial for controlling the flow of
            execution in a program, allowing for different actions based on
            different conditions.
          </p>
        </section>
      </main>
      <footer>
        <div class="center">
          <button class="test" role="button">Take a Test</button>
        </div>
      </footer>
    </div>
  </body>
</html>
