{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'app/entrance.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>python</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <script src="{% static 'app/appHide.js' %}"></script>
    <div class="flex alert">
      <div class="message {{message.tags}}">
        {% if message.tags == "success" %}
        <h1>Level Passed</h1>
        {% elif message.tags == "warning" %}
        <h1>Failed</h1>
        {% elif message.tags == "info" %}
        <h1>Unreachable</h1>
        {% else %}
        <h1>{{ message.tags }}</h1>
        {% endif %}
        <p>{{ message }}</p>
      </div>
    </div>
    <script>
      hideMessage();
    </script>
    {% endfor %} {% endif %}
    <div class="bar">
      <h1 onclick="location.href='/'" class="pf home">Learning Made Fun</h1>
      <div class="nav">
        <a href="../">Main</a>
        <a href="../#available">Courses</a>
        <a href="../../#contact">Contact</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="midlle">
      <h1 class="h1M">Why Learn Python?</h1>
      <p class="pm1">
        Python is the number one go-to to many developers for the vast amount of
        benefits it provides
      </p>
      <div class="carts">
        <div class="cart">
          <h2>Versatility and General-Purpose Nature</h2>
          <p class="p-cart">
            Python is a highly <strong>versatile</strong> language used in
            various fields such as
            <strong
              >web development, data science, artificial intelligence, machine
              learning, automation, scientific computing</strong
            >, and more. Its ability to handle a wide range of applications
            makes it an invaluable tool for developers.
          </p>
        </div>
        <div class="cart">
          <h2>Easy to Learn and Read</h2>
          <p class="p-cart">
            Python's syntax is <strong>clear</strong> and
            <strong>readable</strong>, making it an excellent choice for
            beginners. It emphasizes <strong>readability</strong> and
            <strong>simplicity</strong>, allowing new programmers to learn the
            language quickly and focus on solving problems rather than
            struggling with complex syntax.
          </p>
        </div>
        <div class="cart">
          <h2>Large and Active Community</h2>
          <p class="p-cart">
            Python boasts a <strong>large</strong> and
            <strong>active community</strong>, which means a wealth of resources
            is available, including extensive
            <strong>documentation, tutorials, forums</strong>, and
            <strong>third-party libraries</strong>. This community support makes
            it easier to find help and learn from others’ experiences.
          </p>
        </div>
        <div class="cart">
          <h2>Extensive Libraries and Frameworks</h2>
          <p class="p-cart">
            Python has a rich ecosystem of <strong>libraries</strong> and
            <strong>frameworks</strong> that simplify development tasks. For
            example: Web Development: <strong>Django, Flask</strong> Data
            Science and Analysis: <strong>Pandas, NumPy</strong> Machine
            Learning: <strong>TensorFlow, scikit-learn</strong> Automation:
            <strong>Selenium, Beautiful Soup</strong> These libraries enable
            developers to build
            <strong>robust applications</strong> efficiently.
          </p>
        </div>
        <div class="cart">
          <h2>High Demand and Career Opportunities</h2>
          <p class="p-cart">
            Python is one of the most
            <strong>sought-after programming languages</strong> in the job
            market. Its demand spans various industries, including
            <strong>technology, finance, healthcare</strong>, and
            <strong>academia</strong>. Learning Python can open doors to
            numerous <strong>career opportunities</strong> and is often
            associated with <strong>high-paying jobs</strong>.
          </p>
        </div>
        <div class="cart">
          <h2>Cross-Platform Compatibility</h2>
          <p class="p-cart">
            Python is <strong>cross-platform</strong>, meaning you can run
            Python code on various operating systems, including
            <strong>Windows, macOS, and Linux</strong>, without significant
            changes. This flexibility makes it a convenient choice for
            developers who work in diverse environments.
          </p>
        </div>
      </div>
    </div>
    <div class="low">
      <img src="{% static 'app/python.png' %}" alt="" />
      <h1 class="h1M">Let's Start</h1>
      <p class="pm1">lessons and tests</p>
      <div class="carts1">
        <div class="cart1">
          <a class="pm1" href="{% url 'app-pyLevel1' %}"> Lesson 1</a>
          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyLevel2' %}"> Lesson 2</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyLevel3' %}"> Lesson 3</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyLevel4' %}"> Lesson 4</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyLevel5' %}"> Lesson 5</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyLevel6' %}"> Lesson 6</a>
          {% else %}
          <a class="sec" href="invalid/"> Lesson 6</a>
          {% endif %}
        </div>
        <div class="cart1">
          <a class="pm1" href="{% url 'app-pyTest1' %}"> Test 1</a>
          {% if levels.lvl2 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyTest2' %}"> Test 2</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 2</a>
          {% endif %} {% if levels.lvl3 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyTest3' %}"> Test 3</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 3</a>
          {% endif %} {% if levels.lvl4 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyTest4' %}"> Test 4</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 4</a>
          {% endif %} {% if levels.lvl5 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyTest5' %}"> Test 5</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 5</a>
          {% endif %} {% if levels.lvl6 == 'primary' %}
          <a class="pm1" href="{% url 'app-pyTest6' %}"> Test 6</a>
          {% else %}
          <a class="sec" href="invalid/"> Test 6</a>
          {% endif %}
        </div>
      </div>
      <div class="btns">
        <button class="btn" role="button" onclick="location.href='videos/'">
           Related videos<br><i class="ri-youtube-line"></i>
        </button>
        <button class="btn" role="button" onclick="location.href='books/'">
          Related books<br><i class="fa-solid fa-book-open"></i>
        </button>
      </div>
    </div>
    <div class="footer">
      <p class="pf">© 2024 Programming Courses. All rights reserved</p>
    </div>
  </body>
</html>
