{% extends 'app/navbar.html' %} {% load static %} {% block additional_styles %}
<link rel="stylesheet" href="{% static 'app/levelsPy.css' %}" />
{% endblock %} {% block content %}
<section class="content">
  <div class="card">
    <div class="card-body text-center">
      <h3 class="card-title">
        Introduction to Python
        <img src="{% static 'app/python.png' %}" alt="" /><i
          class="ri-image-add-line"
        ></i>
      </h3>
      <p class="card-text">
        This section provides an overview of the Python programming language and
        terminology, Its capabilities, and why would you consider learning the
        language.
      </p>
      <a href="{% url 'app-pyIntro' %}" class="btn btn-primary"
        >Start Learning</a
      >
    </div>
  </div>
  <div class="level">
    <!-- Level 1 -->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 1: Syntax</h3>
        <p class="card-text">
          This level covers syntax, data types, variables...
        </p>
        <a href="{% url 'app-pyLevel1' %}" class="btn btn-{{levels.lvl1}}"
          >Start Learning</a
        >
      </div>
    </div>
    <!-- Level 2 -->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 2: Built-in methods</h3>
        <p class="card-text">
          Covering most usable and known built-in functions of the language.
        </p>
        {% if levels.lvl2 == 'primary' %}
        <a href="{% url 'app-pyLevel2' %}" class="btn btn-{{levels.lvl2}}"
          >Start Learning</a
        >
        {% else %}
        <a href="#" class="btn btn-{{levels.lvl2}}">Start Learning</a>
        {% endif %}
      </div>
    </div>
    <!-- End Level 2 -->
  </div>
  <!-- End Level Cards -->

  <!-- Level Cards -->
  <div class="level-container">
    <!-- Level 3 -->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 3: Built-in data structures</h3>
        <p class="card-text">
          This level covers the Python's built-in data structures and some
          built-in methods related to them
        </p>
        {% if levels.lvl3 == 'primary' %}
        <a href="{% url 'app-pyLevel3' %}" class="btn btn-{{levels.lvl3}}"
          >Start Learning</a
        >
        {% else %}
        <a href="#" class="btn btn-{{levels.lvl3}}">Start Learning</a>
        {% endif %}
      </div>
    </div>
    <!-- end Level 3 -->
    <!-- Level 4 -->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 4: Conditional Statements</h3>
        <p class="card-text">
          Understanding Conditional Statements and relational operators
        </p>
        {% if levels.lvl4 == 'primary' %}
        <a href="{% url 'app-pyLevel4' %}" class="btn btn-{{levels.lvl4}}"
          >Start Learning</a
        >
        {% else %}
        <a href="#" class="btn btn-{{levels.lvl4}}">Start Learning</a>
        {% endif %}
      </div>
    </div>
    <!-- end Level 4 -->
  </div>
  <!-- End Level Cards -->

  <!-- Level Cards -->
  <div class="level-container">
    <!-- end Level 5 -->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 5: Loops</h3>
        <p class="card-text">Where, When, Why, and How to use Loops</p>
        {% if levels.lvl5 == 'primary' %}
        <a href="{% url 'app-pyLevel5' %}" class="btn btn-{{levels.lvl5}}"
          >Start Learning</a
        >
        {% else %}
        <a href="#" class="btn btn-{{levels.lvl5}}">Start Learning</a>
        {% endif %}
      </div>
    </div>
    <!-- end Level 5 -->

    <!-- Level 6-->
    <div class="carte">
      <div class="card-body">
        <h3 class="card-title">Level 6: Functions</h3>
        <p class="card-text">Getting Started with the concept of functions</p>
        {% if levels.lvl6 == 'primary' %}
        <a href="{% url 'app-pyLevel6' %}" class="btn btn-{{levels.lvl6}}"
          >Start Learning</a
        >
        {% else %}
        <a href="#" class="btn btn-{{levels.lvl6}}">Start Learning</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
