{% extends 'app/base.html' %} {% load static %} {% block content %}
<h1>hihihihi</h1>
{% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <script>
        let msg = document.getElementsByClassName('alert')[0]
        setTimeout(()=>{
          msg.style.display = 'none'
        } ,3000)
      </script>
    {% endif %}
  {% endblock %}