{% extends "app/baseTest.html" %} {% load static %} {% block title %}
<title>Level 5</title>
{% endblock title %} {% block header %}
<h1>Python Test: Loops</h1>
{% endblock header %} {% block content %}
<form
  id="quiz-form"
  action="{% url 'app-pyTest5' %}"
  method="post"
>
  {% csrf_token %}
  <hr><div class="question">
    <h2>1. What will be the output of the following code?</h2>
    <pre>
      <code>
        <span class="pink">for</span> <span class="white">i</span> <span class="pink">in</span> <span class="orange">[</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">]</span><span class="orange">:</span>
          <span class="blue">print</span><span class="orange">(</span><span class="white">i</span><span class="orange">)</span></code>
    </pre>    
    <div class="pad">
      <input type="radio" id="q1-a1" name="q1" value="1" />
      <label class="radio-label" for="q1-a1">1 2 3</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a2" name="q1" value="2" />
      <label class="radio-label" for="q1-a2">[1, 2, 3]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a3" name="q1" value="3" />
      <label class="radio-label" for="q1-a3">"123"</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>2. Why are loops used in programming?</h2>
    <div class="pad">
      <input type="radio" id="q2-a1" name="q2" value="1" />
      <label class="radio-label" for="q2-a1"
        >To execute a block of code a specific number of times based on a
        condition.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a2" name="q2" value="2" />
      <label class="radio-label" for="q2-a2">To check the validity of data types only.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q2-a3" name="q2" value="3" />
      <label class="radio-label" for="q2-a3">To handle exceptions and errors.</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>3. What does the following while loop do?</h2>
    <pre>
      <code>
        <span class="white">x</span> <span class="pink">=</span> <span class="purple">5</span>
        <span class="pink">while</span> <span class="white">x</span> <span class="white">&gt;</span> <span class="purple">0</span><span class="orange">:</span>
          <span class="blue">print</span><span class="orange">(</span><span class="white">x</span><span class="orange">)</span>
          <span class="white">x</span> <span class="pink">-=</span> <span class="purple">1</span></code>
    </pre>    
    <div class="pad">
      <input type="radio" id="q3-a1" name="q3" value="1" />
      <label class="radio-label" for="q3-a1">Prints numbers from 5 to 1.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a2" name="q3" value="2" />
      <label class="radio-label" for="q3-a2">Creates an infinite loop.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a3" name="q3" value="3" />
      <label class="radio-label" for="q3-a3">Prints the number 5 five times.</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>4. Consider the following loop using range:</h2>
    <pre>
      <code>
        <span class="pink">for</span> <span class="white">num</span> <span class="pink">in</span> <span class="blue">range</span><span class="orange">(</span><span class="purple">3</span><span class="white">,</span> <span class="purple">8</span><span class="orange">)</span><span class="orange">:</span>
          <span class="blue">print</span><span class="orange">(</span><span class="white">num</span><span class="orange">)</span></code>
    </pre>    
    <p>What is the output?</p>
    <div class="pad">
      <input type="radio" id="q4-a1" name="q4" value="1" />
      <label class="radio-label" for="q4-a1">3 4 5 6 7 8</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a2" name="q4" value="2" />
      <label class="radio-label" for="q4-a2">3 4 5 6 7</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a3" name="q4" value="3" />
      <label class="radio-label" for="q4-a3">8 7 6 5 4 3</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>5. What are the common keywords associated with loops in Python?</h2>
    <div class="pad">
      <input type="radio" id="q5-a1" name="q5" value="1" />
      <label class="radio-label" for="q5-a1">if, elif, else</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a2" name="q5" value="2" />
      <label class="radio-label" for="q5-a2">try, except, finally</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a3" name="q5" value="3" />
      <label class="radio-label" for="q5-a3">for, while, break, continue</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>6. What will the following nested loops output?</h2>
    <pre>
      <code>
        <span class="pink">for</span> <span class="white">i</span> <span class="pink">in</span> <span class="blue">range</span><span class="orange">(</span><span class="purple">2</span><span class="orange">)</span><span class="orange">:</span>
          <span class="pink">for</span> <span class="white">j</span> <span class="pink">in</span> <span class="blue">range</span><span class="orange">(</span><span class="purple">3</span><span class="orange">)</span><span class="orange">:</span>
            <span class="blue">print</span><span class="orange">(</span><span class="blue">f</span><span class="yellow">"({i}, {j})"</span><span class="white">,</span> <span class="white">end</span><span class="orange">=</span><span class="yellow">' '</span><span class="orange">)</span>
          <span class="blue">print</span><span class="orange">(</span><span class="orange">)</span></code>
    </pre>
    
    <div class="pad">
      <input type="radio" id="q6-a1" name="q6" value="1" />
      <label class="radio-label" for="q6-a1">(0, 0) (0, 1) (0, 2) (1, 0) (1, 1) (1, 2)</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a2" name="q6" value="2" />
      <label class="radio-label" for="q6-a2">(0, 0) (0, 1) (0, 2) \n (1, 0) (1, 1) (1, 2)</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a3" name="q6" value="3" />
      <label class="radio-label" for="q6-a3">(1, 1) (1, 2) (1, 3) (2, 1) (2, 2) (2, 3)</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>7. How will the following code behave?</h2>
    <pre>
      <code>
        <span class="white">i</span> <span class="pink">=</span> <span class="purple">0</span>
        <span class="pink">while</span> <span class="white">i</span> <span class="white">&lt;</span> <span class="purple">5</span><span class="orange">:</span>
          <span class="white">i</span> <span class="pink">+=</span> <span class="purple">1</span>
          <span class="pink">if</span> <span class="white">i</span> <span class="white">==</span> <span class="purple">3</span><span class="orange">:</span>
            <span class="pink">continue</span>
          <span class="blue">print</span><span class="orange">(</span><span class="white">i</span><span class="orange">)</span></code>
    </pre>
    
    <div class="pad">
      <input type="radio" id="q7-a1" name="q7" value="1" />
      <label class="radio-label" for="q7-a1">Prints 1 2 4 5</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a2" name="q7" value="2" />
      <label class="radio-label" for="q7-a2">Prints 3</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a3" name="q7" value="3" />
      <label class="radio-label" for="q7-a3">Prints 1 2 continue 4 5</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>8. What will this for loop output?</h2>
    <pre>
      <code>
        <span class="pink">for</span> <span class="white">i</span> <span class="pink">in</span> <span class="blue">range</span><span class="orange">(</span><span class="purple">1</span><span class="white">,</span> <span class="purple">10</span><span class="white">,</span> <span class="purple">2</span><span class="orange">)</span><span class="orange">:</span>
          <span class="blue">print</span><span class="orange">(</span><span class="white">i</span><span class="orange">)</span></code>
    </pre>    
    <div class="pad">
      <input type="radio" id="q8-a1" name="q8" value="1" />
      <label class="radio-label" for="q8-a1">1 2 3 4 5 6 7 8 9</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a2" name="q8" value="2" />
      <label class="radio-label" for="q8-a2">1 3 5 7 9</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a3" name="q8" value="3" />
      <label class="radio-label" for="q8-a3">2 4 6 8 10 12 14 16 18</label>
    </div>
  </div>
  <button type="submit" class="take-test">Submit Answers</button>
</form>
{% endblock content %}
