{% extends "app/baseTest.html" %} {% load static %} {% block title %}
<title>Level 2</title>
{% endblock title %} {% block header %}
<h1>Python Built-in Functions Test</h1>
{% endblock header %} {% block content %}
<form id="quiz-form" action="{% url 'app-pyTest2' %}" method="post">
  <h1>Python Test: Built-in Functions</h1>
  {% csrf_token %}
  <div class="question">
    <h2>What is the output of the following code?</h2>
    <pre>
            <code>
              print(len("Hello World"))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q1-a1" name="q1" value="1" />
      <label for="q1-a1">10</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a2" name="q1" value="2" />
      <label for="q1-a2">11</label>
    </div>
    <div class="pad">
      <input type="radio" id="q1-a3" name="q1" value="3" />
      <label for="q1-a3">Hello World</label>
    </div>
  </div>
  <div class="question">
    <h2>What does the following code return?</h2>
    <pre>
            <code>
              print(type(12.6))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q2-a1" name="q2" value="1" />
      <label for="q2-a1">&lt;class 'float'&gt;</label>
    </div>
    <div class="pad">
      <input type="radio" id="q2-a2" name="q2" value="2" />
      <label for="q2-a2">&lt;class 'int'&gt;</label>
    </div>
    <div class="pad">
      <input type="radio" id="q2-a3" name="q2" value="3" />
      <label for="q2-a3">&lt;class 'str'&gt;</label>
    </div>
  </div>
  <div class="question">
    <h2>What will this code output?</h2>
    <pre>
            <code>
              print(int(5.7))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q3-a1" name="q3" value="1" />
      <label for="q3-a1">5.7</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a2" name="q3" value="2" />
      <label for="q3-a2">5</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a3" name="q3" value="3" />
      <label for="q3-a3">6</label>
    </div>
  </div>
  <div class="question">
    <h2>What does the following code display?</h2>
    <pre>
            <code>
              print(str(250))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q4-a1" name="q4" value="1" />
      <label for="q4-a1">"250"</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a2" name="q4" value="2" />
      <label for="q4-a2">250</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a3" name="q4" value="3" />
      <label for="q4-a3">'250'</label>
    </div>
  </div>
  <div class="question">
    <h2>What is the result of this code?</h2>
    <pre>
            <code>
              numbers = [1, 2, 3, 4, 5]
              print(sum(numbers))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q5-a1" name="q5" value="1" />
      <label for="q5-a1">15</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a2" name="q5" value="2" />
      <label for="q5-a2">5</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a3" name="q5" value="3" />
      <label for="q5-a3">[1, 2, 3, 4, 5]</label>
    </div>
  </div>
  <div class="question">
    <h2>What will this code snippet output?</h2>
    <pre>
            <code>
              print(max(1, 3, 2, 5, 4))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q6-a1" name="q6" value="1" />
      <label for="q6-a1">1</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a2" name="q6" value="2" />
      <label for="q6-a2">5</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a3" name="q6" value="3" />
      <label for="q6-a3">3</label>
    </div>
  </div>
  <div class="question">
    <h2>What does the following line output?</h2>
    <pre>
            <code>
              print(min("apple", "banana", "cherry"))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q7-a1" name="q7" value="1" />
      <label for="q7-a1">apple</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a2" name="q7" value="2" />
      <label for="q7-a2">banana</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a3" name="q7" value="3" />
      <label for="q7-a3">cherry</label>
    </div>
  </div>
  <div class="question">
    <h2>What will the following code output?</h2>
    <pre>
            <code>
              print(float(20))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q8-a1" name="q8" value="1" />
      <label for="q8-a1">20</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a2" name="q8" value="2" />
      <label for="q8-a2">"20"</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a3" name="q8" value="3" />
      <label for="q8-a3">20.0</label>
    </div>
  </div>
  <div class="question">
    <h2>What will happen when you run the following code?</h2>
    <pre>
            <code>
              print(len(12345))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q9-a1" name="q9" value="1" />
      <label for="q9-a1">5</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a2" name="q9" value="2" />
      <label for="q9-a2">12345</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a3" name="q9" value="3" />
      <label for="q9-a3">Error</label>
    </div>
  </div>
  <div class="question">
    <h2>What does the following code display?</h2>
    <pre>
            <code>
              print(sum([1.1, 2.2, 3.3]))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q10-a1" name="q10" value="1" />
      <label for="q10-a1">6.6</label>
    </div>
    <div class="pad">
      <input type="radio" id="q10-a2" name="q10" value="2" />
      <label for="q10-a2">6</label>
    </div>
    <div class="pad">
      <input type="radio" id="q10-a3" name="q10" value="3" />
      <label for="q10-a3">7</label>
    </div>
  </div>
  <div class="question">
    <h2>Given the following code, what is the output?</h2>
    <pre>
            <code>
              print(type(True))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q11-a1" name="q11" value="1" />
      <label for="q11-a1">&lt;class 'int'&gt;</label>
    </div>
    <div class="pad">
      <input type="radio" id="q11-a2" name="q11" value="2" />
      <label for="q11-a2">&lt;class 'bool'&gt;</label>
    </div>
    <div class="pad">
      <input type="radio" id="q11-a3" name="q11" value="3" />
      <label for="q11-a3">&lt;class 'str'&gt;</label>
    </div>
  </div>
  <div class="question">
    <h2>What does this line of code output?</h2>
    <pre>
            <code>
              print(int("100"))</code>
          </pre>
    <div class="pad">
      <input type="radio" id="q12-a1" name="q12" value="1" />
      <label for="q12-a1">100</label>
    </div>
    <div class="pad">
      <input type="radio" id="q12-a2" name="q12" value="2" />
      <label for="q12-a2">"100"</label>
    </div>
    <div class="pad">
      <input type="radio" id="q12-a3" name="q12" value="3" />
      <label for="q12-a3">Error</label>
    </div>
  </div>
  <div class="question">
    <h2>Why are built-in functions in Python advantageous to use?</h2>
    <div class="pad">
      <input type="radio" id="q13-a1" name="q13" value="1" />
      <label for="q13-a1"
        >They perform operations faster than user-defined functions.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q13-a2" name="q13" value="2" />
      <label for="q13-a2"
        >They require explicit imports from external libraries.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q13-a3" name="q13" value="3" />
      <label for="q13-a3"
        >They can only be used with specific data types.</label
      >
    </div>
  </div>
  <div class="question">
    <h2>What is the primary purpose of the type() function in Python?</h2>
    <div class="pad">
      <input type="radio" id="q14-a1" name="q14" value="1" />
      <label for="q14-a1">To convert one data type into another.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q14-a2" name="q14" value="2" />
      <label for="q14-a2"
        >To determine the data type of the given variable or value.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q14-a3" name="q14" value="3" />
      <label for="q14-a3">To print the type of Python version installed.</label>
    </div>
  </div>
  <div class="question">
    <h2>Which statement is true regarding the sum() function?</h2>
    <div class="pad">
      <input type="radio" id="q15-a1" name="q15" value="1" />
      <label for="q15-a1">It can only sum up integer values.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q15-a2" name="q15" value="2" />
      <label for="q15-a2"
        >It sums up elements of an iterable, like a list or tuple.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q15-a3" name="q15" value="3" />
      <label for="q15-a3">It is used to concatenate strings together.</label>
    </div>
  </div>
  <div class="question">
    <h2>
      What is a significant feature of the max() function when used with
      strings?
    </h2>
    <div class="pad">
      <input type="radio" id="q16-a1" name="q16" value="1" />
      <label for="q16-a1">It finds the string with the maximum length.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q16-a2" name="q16" value="2" />
      <label for="q16-a2"
        >It returns the string that comes last in alphabetical order.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q16-a3" name="q16" value="3" />
      <label for="q16-a3"
        >It compares the ASCII values of characters to determine the 'maximum'
        string.</label
      >
    </div>
  </div>
  <div class="question">
    <h2>What would be a typical use case for the float() function?</h2>
    <div class="pad">
      <input type="radio" id="q17-a1" name="q17" value="1" />
      <label for="q17-a1"
        >To convert a compatible value into a floating-point number.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q17-a2" name="q17" value="2" />
      <label for="q17-a2"
        >To round a floating-point number to the nearest integer.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q17-a3" name="q17" value="3" />
      <label for="q17-a3">To print out the system's maximum float value.</label>
    </div>
  </div>
  <div class="question">
    <h2>What does the min() function do when applied to a list of numbers?</h2>
    <div class="pad">
      <input type="radio" id="q18-a1" name="q18" value="1" />
      <label for="q18-a1">Returns the smallest number in the list.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q18-a2" name="q18" value="2" />
      <label for="q18-a2">Calculates the average of the numbers.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q18-a3" name="q18" value="3" />
      <label for="q18-a3">Multiplies all the numbers together.</label>
    </div>
  </div>
  <button type="submit">Submit Answers</button>
</form>
{% endblock content %}
