{% extends "app/baseTest.html" %} {% load static %} {% block title %}
<title>Level 3</title>
{% endblock title %} {% block header %}
<h1>Python Built-in Datastrures Test</h1>
{% endblock header %} {% block content %}
<form id="quiz-form" action="{% url 'app-pyTest3' %}" method="post">
  {% csrf_token %}
  <hr><div class="question">
    <h2>1. What will be the output of the following code?</h2>
    <pre>
      <code>
        <span class="white">my_list</span> <span class="pink">=</span> <span class="orange">[</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">]</span>
        <span class="white">my_list</span><span class="purple">.</span><span class="blue">append</span><span class="orange">(</span><span class="purple">4</span><span class="orange">)</span>
        <span class="white">print</span><span class="orange">(</span><span class="white">my_list</span><span class="orange">)</span></code>
    </pre>
    
    <div style="position: relative;">
      <div class="pad">
        <input type="radio" id="q1-a1" name="q1" value="1" />
        <label class="radio-label" for="q1-a1">[1, 2, 3]</label>
      </div>
      <div class="pad">
        <input type="radio" id="q1-a2" name="q1" value="2" />
        <label class="radio-label" for="q1-a2">[1, 2, 3, 4]</label>
      </div>
      <div class="pad">
        <input type="radio" id="q1-a3" name="q1" value="3" />
        <label class="radio-label" for="q1-a3">SyntaxError</label>
      </div>
    </div>
  </div>
  <hr><div class="question">
    <h2>2. Why are tuples used in Python?</h2>
    <div class="pad">
      <input type="radio" id="q2-a1" name="q2" value="1" />
      <label class="radio-label" for="q2-a1">Because they can be modified after creation.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q2-a2" name="q2" value="2" />
      <label class="radio-label" for="q2-a2"
        >For faster processing compared to lists when storing immutable
        data.</label
      >
    </div>
    <div class="pad">
      <input type="radio" id="q2-a3" name="q2" value="3" />
      <label class="radio-label" for="q2-a3">They are the only iterable data type in Python.</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>
      3. Which code snippet correctly shows how to access all the keys from a
      dictionary?
    </h2>
    <div class="pad">
      <input type="radio" id="q3-a1" name="q3" value="1" />
      <label class="radio-label" for="q3-a1">print(my_dict.keys())</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a2" name="q3" value="2" />
      <label class="radio-label" for="q3-a2">print(my_dict.values())</label>
    </div>
    <div class="pad">
      <input type="radio" id="q3-a3" name="q3" value="3" />
      <label class="radio-label" for="q3-a3">print(my_dict.items())</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>4. What does the following code do?</h2>
    <pre>
      <code>
        <span class="white">my_set</span> <span class="pink">=</span> <span class="orange">{</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">}</span>
        <span class="white">my_set</span><span class="purple">.</span><span class="blue">add</span><span class="orange">(</span><span class="purple">4</span><span class="orange">)</span>
        <span class="white">print</span><span class="orange">(</span><span class="white">my_set</span><span class="orange">)</span></code>
    </pre>
    
    <div class="pad">
      <input type="radio" id="q4-a1" name="q4" value="1" />
      <label class="radio-label" for="q4-a1">{1, 2, 3}</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a2" name="q4" value="2" />
      <label class="radio-label" for="q4-a2">{1, 2, 3, 4}</label>
    </div>
    <div class="pad">
      <input type="radio" id="q4-a3" name="q4" value="3" />
      <label class="radio-label" for="q4-a3">{4}</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>5. What is the main reason to use dictionaries in Python?</h2>
    <div class="pad">
      <input type="radio" id="q5-a1" name="q5" value="1" />
      <label class="radio-label" for="q5-a1">To maintain order of insertion.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a2" name="q5" value="2" />
      <label class="radio-label" for="q5-a2">To ensure data is mutable.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q5-a3" name="q5" value="3" />
      <label class="radio-label" for="q5-a3"
        >For storing data in key-value pairs allowing fast retrieval.</label
      >
    </div>
  </div>
  <hr><div class="question">
    <h2>6. How can you remove an item from a set in Python?</h2>
    <pre>
      <code>
        <span class="white">my_set</span> <span class="pink">=</span> <span class="orange">{</span><span class="yellow">'apple'</span><span class="white">,</span> <span class="yellow">'banana'</span><span class="white">,</span> <span class="yellow">'cherry'</span><span class="orange">}</span></code>
    </pre>
    
    <div class="pad">
      <input type="radio" id="q6-a1" name="q6" value="1" />
      <label class="radio-label" for="q6-a1">my_set.remove('banana')</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a2" name="q6" value="2" />
      <label class="radio-label" for="q6-a2">my_set.pop('banana')</label>
    </div>
    <div class="pad">
      <input type="radio" id="q6-a3" name="q6" value="3" />
      <label class="radio-label" for="q6-a3">my_set.delete('banana')</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>7. What will this code output?</h2>
    <pre>
      <code>
        <span class="white">fruits</span> <span class="pink">=</span> <span class="orange">[</span><span class="yellow">'apple'</span><span class="white">,</span> <span class="yellow">'banana'</span><span class="white">,</span> <span class="yellow">'strawberry'</span><span class="orange">]</span>
        <span class="white">fruits</span><span class="purple">.</span><span class="blue">sort</span><span class="orange">(</span><span class="white">reverse</span><span class="pink">=</span><span class="blue">True</span><span class="orange">)</span>
        <span class="white">print</span><span class="orange">(</span><span class="white">fruits</span><span class="orange">)</span></code>
    </pre>
    
    <div class="pad">
      <input type="radio" id="q7-a1" name="q7" value="1" />
      <label class="radio-label" for="q7-a1">['strawberry', 'banana', 'apple']</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a2" name="q7" value="2" />
      <label class="radio-label" for="q7-a2">['apple', 'banana', 'strawberry']</label>
    </div>
    <div class="pad">
      <input type="radio" id="q7-a3" name="q7" value="3" />
      <label class="radio-label" for="q7-a3">['banana', 'strawberry', 'apple']</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>8. Why are sets used in Python?</h2>
    <div class="pad">
      <input type="radio" id="q8-a1" name="q8" value="1" />
      <label class="radio-label" for="q8-a1">To store data which can be indexed.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a2" name="q8" value="2" />
      <label class="radio-label" for="q8-a2">To store unordered collection of unique items.</label>
    </div>
    <div class="pad">
      <input type="radio" id="q8-a3" name="q8" value="3" />
      <label class="radio-label" for="q8-a3"
        >To store data that needs to be accessed via keys.</label
      >
    </div>
  </div>
  <hr><div class="question">
    <h2>9. How can you find the union of two sets in Python?</h2>
    <pre>
      <code>
        <span class="white">set1</span> <span class="pink">=</span> <span class="orange">{</span><span class="purple">1</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">3</span><span class="orange">}</span>
        <span class="white">set2</span> <span class="pink">=</span> <span class="orange">{</span><span class="purple">3</span><span class="white">,</span> <span class="purple">4</span><span class="white">,</span> <span class="purple">5</span><span class="orange">}</span></code>
    </pre>    
    <div class="pad">
      <input type="radio" id="q9-a1" name="q9" value="1" />
      <label class="radio-label" for="q9-a1">print(set1 + set2)</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a2" name="q9" value="2" />
      <label class="radio-label" for="q9-a2">print(set1.union(set2))</label>
    </div>
    <div class="pad">
      <input type="radio" id="q9-a3" name="q9" value="3" />
      <label class="radio-label" for="q9-a3">print(set1 & set2)</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>10. What is the output of the following code?</h2>
    <pre>
      <code>
        <span class="white">info</span> <span class="pink">=</span> <span class="orange">{</span><span class="yellow">'name'</span><span class="white">:</span> <span class="yellow">'John'</span><span class="white">,</span> <span class="yellow">'age'</span><span class="white">:</span> <span class="purple">28</span><span class="orange">}</span>
        <span class="white">print</span><span class="orange">(</span><span class="white">info</span><span class="purple">.</span><span class="blue">get</span><span class="orange">(</span><span class="yellow">'name'</span><span class="orange">)</span><span class="orange">)</span></code>
    </pre>    
    <div class="pad">
      <input type="radio" id="q10-a1" name="q10" value="1" />
      <label class="radio-label" for="q10-a1">John</label>
    </div>
    <div class="pad">
      <input type="radio" id="q10-a2" name="q10" value="2" />
      <label class="radio-label" for="q10-a2">{name}</label>
    </div>
    <div class="pad">
      <input type="radio" id="q10-a3" name="q10" value="3" />
      <label class="radio-label" for="q10-a3">28</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>11. What will be the result of the following Python line?</h2>
    <pre>
      <code>
        <span class="white">print</span><span class="orange">(</span><span class="purple">len</span><span class="pink">(</span><span class="orange">{</span><span class="yellow">'a'</span><span class="white">:</span> <span class="purple">1</span><span class="white">,</span> <span class="yellow">'b'</span><span class="white">:</span> <span class="purple">2</span><span class="white">,</span> <span class="yellow">'c'</span><span class="white">:</span> <span class="purple">3</span><span class="orange">}</span><span class="pink">)</span><span class="orange">)</span></code>
    </pre>
    <div class="pad">
      <input type="radio" id="q11-a1" name="q11" value="1" />
      <label class="radio-label" for="q11-a1">3</label>
    </div>
    <div class="pad">
      <input type="radio" id="q11-a2" name="q11" value="2" />
      <label class="radio-label" for="q11-a2">{1, 2, 3}</label>
    </div>
    <div class="pad">
      <input type="radio" id="q11-a3" name="q11" value="3" />
      <label class="radio-label" for="q11-a3">6</label>
    </div>
  </div>
  <hr><div class="question">
    <h2>12. Consider the following list operations:</h2>
    <pre>
      <code>
        <span class="white">numbers</span> <span class="pink">=</span> <span class="orange">[</span><span class="purple">5</span><span class="white">,</span> <span class="purple">2</span><span class="white">,</span> <span class="purple">9</span><span class="white">,</span> <span class="purple">1</span><span class="orange">]</span>
        <span class="white">numbers</span><span class="purple">.</span><span class="blue">pop</span><span class="orange">(</span><span class="purple">2</span><span class="orange">)</span>
        <span class="white">print</span><span class="orange">(</span><span class="white">numbers</span><span class="orange">)</span></code>
    </pre>
    <div class="pad">
      <input type="radio" id="q12-a1" name="q12" value="1" />
      <label class="radio-label" for="q12-a1">[5, 2, 1]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q12-a2" name="q12" value="2" />
      <label class="radio-label" for="q12-a2">[5, 2, 9]</label>
    </div>
    <div class="pad">
      <input type="radio" id="q12-a3" name="q12" value="3" />
      <label class="radio-label" for="q12-a3">[2, 9, 1]</label>
    </div>
  </div>
  <button type="submit" class="take-test">Submit Answers</button>
</form>
{% endblock content %}
