*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.up{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #111827;
    margin-bottom: 50px;   
}
.upH1{
    font-size: 50px;
    color: #ffffff;
    margin: 30px 0;
}
.upP{
    font-size: 25px;
    color: silver;
    margin: 30px 0;
}
button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #4F46E5;
    border: solid 2px #4F46E5;
    margin: 30px 0;
    cursor: pointer;
    font-size: 25px;
}
button:hover{
    background-color: #ffffff;
    color: #111827;
    border: solid white 2px;
}
.midlle{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1M{
    font-size: 50px;
    margin: 30px 0;
}
.p-m{
    font-size: 25px;
    margin: 30px 100px;
    color: #606366;
    
}
.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    background-color: white;
    margin: 30px 15px;
    border-radius: 20px;
    padding: 0px 5px;
    box-shadow: 0px 8px 12px rgba(174,178,183,0.5); 
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    
}
.cart:hover{
    scale: 1.05;
    
}
h2{
    margin-bottom: 10px;
}
.p-cart{
    color: #606366;
    line-height: 20px;
    margin: 15px 0;
}
.low{
    background-color:#F3F4F6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comment{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.com {
    height: auto; 
    background-color: white;
    margin: 30px 15px;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: 0px 8px 12px rgba(174, 178, 183, 0.5);
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.com img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}

.h1low{
    font-size: 50px;
    margin: 30px 0;
}
.plow{
    font-size: 25px;
    margin: 30px 100px;
    color: #606366;
}
.p-com{
    text-align: center;
    color: #606366;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #111827;
    display: flex;
    align-items: center;
    padding: 0 70px;
}

.nav{
    justify-content: space-between;
    position: absolute;
    right: 13%;
    
}
a{
    text-decoration: none;
    color: silver;
    font-size: 20px;
}
.pf{
    color: silver;
    font-size: 20px;
}
.nav > *{
    margin: 15px;
}
.low-l{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170vh;
    background-color: #111827;  
}
.h1Aboutus{
    font-size: 50px;
    color: white;
}
.pAboutus{
    font-size: 30px;
    color: silver;
    margin: 30px 50px;
}
.line {
    margin: 20px 0;
    border: 2px solid silver;
    width: 80%;
}
.ContactUs{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
input{
    height: 50px;
    width: 200px;
    margin: 20px 0;
    border-radius: 10px;
    border: white solid 2px;
}
input::placeholder {
    font-size: 15px; 
    padding-left: 10px;
}
.h1contactus{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.inputmessage{
    height: 100px;
    width: 400px;
    margin: 20px 0;
    border-radius: 10px;
}
html {
    scroll-behavior: smooth;
}