.var {
  color: #d6d6d6;
}
.string {
  color: #e6db74;
}
.number {
  color: #9e86c8;
}
.operator {
  color: #f92672;
}
.pink {
  color: #f92672;
}
.white {
  color: #f8f8f2;
}
.yellow {
  color: #e6db74;
}
.green {
  color: #a6e22e;
}
.orange {
  color: #eed810
}
.purple {
  color: #ae81ff;
}
.blue {
  color: #66d9ef;
}
.comment {
  color: #797979;
}