.nav-bar nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-bar nav ul li {
  margin-right: 10px;  /* Adjusts space between links */
}

.nav-bar nav ul li.right {
  margin-left: auto;  /* Pushes the logout link to the right */
}

header nav ul {
  list-style-type: none;
  display: flex;
  background-color: #4b8bbe;
}

header nav ul li {
  margin: 10px;
  transition: transform 0.3s ease;
}

header nav ul li:hover {
  transform: scale(1.1);
  background-color: #555;
  border-radius: 4px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(251, 251, 255);
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: #555;
  text-decoration: none;
}

.alert{
  opacity: 1;
  transition: opacity 3s;
}